<section class="section-about" id="about">
  <div class="u-center-text u-margin-bottom-large">
    <h2 class="heading-secondary">
      A passion for data and programming
    </h2>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">My way to data analysis</h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, esse aut inventore, nam mollitia atque omnis hic odio repudiandae natus alias veniam sapiente repellat delectus est impedit, assumenda facere reprehenderit?
      </p>
      <h3 class="heading-tertiary u-margin-bottom-small">2-year experience as a developer</h3>
      <p class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias porro aut iusto incidunt eveniet ab dolorem assumenda laudantium! Ab laborum soluta reiciendis vitae omnis autem qui voluptatem velit fugiat nemo.
      </p>
      <a href="#features" class="btn-text">Know more &rarr;</a>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <img src="/images/jscode.jpg" alt="" class="composition__photo composition__photo--p1">
        <img src="/images/python.jpg" alt="" class="composition__photo composition__photo--p2">
        <img src="/images/fashion.jpg" alt="" class="composition__photo composition__photo--p3">
      </div>
    </div>
  </div>
</section>

