<section class="section-contact">
  <div class="row">
    <div class="contact">
      <div class="contact__form">
        <form action="#" class="form">
          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Contact me
            </h2>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Full name" id="name" required autocomplete="off">
            <label for="name" class="form__label">Full name</label>
          </div>
          <div class="form__group">
            <input type="email" class="form__input" placeholder="Email address" id="email" required autocomplete="off">
            <label for="email" class="form__label">Email address</label>
          </div>
          <div class="form__group u-margin-bottom-medium">
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="web" name="category">
              <label for="web" class="form__radio-label">
                Web Development
              </label>
            </div>
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="data" name="category">
              <label for="data" class="form__radio-label">
                Finance or Data Analytics
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
