<section class="section-features">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon fa fa-sitemap fa-5x"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">JavaScript</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur exercitationem facere iste necessitatibus ipsam.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon fa fa-sitemap fa-5x"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Ruby</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur exercitationem facere iste necessitatibus
          ipsam.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon fa fa-sitemap fa-5x"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Python</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur exercitationem facere iste necessitatibus
          ipsam.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon fa fa-sitemap fa-5x"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">R</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur exercitationem facere iste necessitatibus
          ipsam.
        </p>
      </div>
    </div>
  </div>
</section>
