<header class="header">
  <div class="header__logo-box">
    <%= image_tag('logo-white.png', alt: "Nicolas Dotto logo", class: "header__logo") %>
  </div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Nicolas Dotto</span>
      <span class="heading-primary--sub">Developer, Programmer, FinTech enthusiast</span>
    </h1>
    <a href="" class="btn btn--white btn--scaled btn--scaled--white btn--animated">Get to know me</a>
  </div>
</header>
