<header class="header">
  <div class="logo-box">
    <%= image_tag('logo-white.png', alt: "Nicolas Dotto logo", class: "logo") %>
  </div>
  <div class="header-text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Nicolas Dotto</span>
      <span class="heading-primary-sub">Developer, Programmer, FinTech enthusiast</span>
    </h1>
    <a href="" class="btn btn-white btn-animated">Get to know me</a>
  </div>
</header>
