<section class="section-messages">
  <div class="u-center-text u-margin-bottom-large">
    <h2 class="heading-secondary">
      Why programming?
    </h2>
  </div>
  <div class="row">
    <div class="story">
      <figure class="story__shape">

      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">This is a good title</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae velit, expedita iure sed dolores quia illo quam
          molestias! Minima ad aliquam ea eum explicabo obcaecati dolore earum et neque ut?
        </p>
      </div>
    </div>
  </div>
</section>
