<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navigation-toggle">
  <label for="navigation-toggle" class="navigation__button">Menu</label>
  <div class="navigation__background">&nbsp;</div>
  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Skills</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Projects</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Stories</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Contact</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link"><span>06</span>Blog</a></li>
    </ul>
  </nav>
</div>
