<section class="section-projects">
  <div class="u-center-text u-margin-bottom-large">
    <h2 class="heading-secondary">
      My favourite projects
    </h2>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--orangish">

          </div>
          <div class="card__heading">
            Heading
          </div>
          <div class="card__details">
            Details
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--orangish">
          BACK
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--greenish">

          </div>
          <div class="card__heading">
            Heading
          </div>
          <div class="card__details">
            Details
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--greenish">
          BACK
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--blueish">

          </div>
          <div class="card__heading">
            Heading
          </div>
          <div class="card__details">
            Details
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--blueish">
          BACK
        </div>
      </div>
    </div>
  </div>
</section>
