<section class="section-projects">
  <div class="u-center-text u-margin-bottom-large">
    <h2 class="heading-secondary">
      My favourite projects
    </h2>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--orangish">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--orangish">Mastering JavaScript</span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Advanced</li>
              <li>Learned ES6</li>
              <li>Lorem ipsum dolor</li>
              <li>Architecto accusantium minus</li>
              <li>Id non expedita dolore nihil</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--orangish">
          BACK
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--greenish">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--greenish">Harnessing Python</span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Advanced</li>
              <li>Learning Django</li>
              <li>Lorem ipsum dolor</li>
              <li>Architecto accusantium minus</li>
              <li>Id non expedita dolore nihil</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--greenish">
          BACK
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--blueish">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--blueish">Being a developer</span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Advanced</li>
              <li>Practicing Rails</li>
              <li>Lorem ipsum dolor</li>
              <li>Architecto accusantium minus</li>
              <li>Id non expedita dolore nihil</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--blueish">
          BACK
        </div>
      </div>
    </div>
  </div>
</section>
