<section class="intro" id="intro-logo-name">
  <div class="box">
    <div class="brand">
      <div class="brand-logo">
        <% link_to 'http://www.nicolasdotto.com', :id => 'logo', :class => 'js-menu-trigger sliding-panel-button' do %>
            <%= image_tag 'logo.png' %>
        <% end %>
        <h1 id="name">Nicolas Dotto</h1>
      </div>
        <h2 id="tagline">London-based freelance web developer</h2>
      <%= partial "partials/components/menu-black" %>
    </div>
  </div>
  <!-- use with position relative for section-->
  <!-- <div class="video-background-overlay"></div> -->
</section>

