<section class="intro" id="intro-logo-name">
  <div class="box">
    <div class="brand">
      <div class="brand-logo">
        <% link_to 'http://www.nicolasdotto.com', :id => 'logo', :class => 'js-menu-trigger sliding-panel-button' do %>
            <%= image_tag 'logo.png' %>
        <% end %>
        <h1 id="name">Nicolas Dotto</h1>
      </div>
        <h2 id="tagline">London-based freelance web developer</h2>
        <!-- big-menu-button -->
<!--         <a href="" class="big-link big-link-menu menu-button" id="js-fadeInElement">
          <img src="/images/menu-white.png" class="js-menu-trigger sliding-panel-button" alt="">
        </a> -->
        <!-- big-menu-button -->
        <!-- menu-buttons -->
        <!-- <a href="#contact" class="big-link big-link-button" id="contact-button">Contact</a> -->
        <!-- menu-buttons -->
<!--         <div class="banner-resume-navbar">
          <strong>
            <div class="class col-xs-12 col-sm-3"><a href="#about" class="main-navbar-item main-navbar-link">About</a></div>
            <div class="class col-xs-12 col-sm-3"><a href="#resume" class="main-navbar-item main-navbar-link">Experience</a></div>
            <div class="class col-xs-12 col-sm-3"><a href="#skills" class="main-navbar-item main-navbar-link">Skills</a></div>
            <div class="class col-xs-12 col-sm-3"><a href="#portfolio" class="main-navbar-item main-navbar-link">Portfolio</a></div>
          </strong>
        </div> -->
        <div class="buttons-container">
          <div class="buttons">
            <a class="big-link-button" href="/about">About</a>
            <a class="big-link-button" href="/portfolio">Code</a>
            <a class="big-link-button" href="/blog">Blog</a>
          </div>
        </div>
    </div>
  </div>
  <!-- use with position relative for section-->
  <!-- <div class="video-background-overlay"></div> -->
</section>

