<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="#contact-me">Contact</a></li>
    <li><a href="/fr">Switch to French</a></li>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
