.bg-peas {
  background: $bg-peas $color-brand;
  background-attachment: fixed;
}
.bg-zigzag {
  background: $bg-zigzag $color-brand;
  background-attachment: fixed;
}
.bg-constellation {
  background: $bg-constellation $color-brand;
  background-attachment: fixed;
}
.bg-waves {
  background: $bg-waves $color-brand;
  background-attachment: fixed;
}


// Mobile first
/* &headerindex */ /* &headerarticle */
#header-parallax {
  color: white;
  text-align: center;
  &.index, &.article {overflow: hidden;}
  #header-wrapper {
    padding: 5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &.index, &.article {position: relative;}
    &.index img, &.article img.round-article-image {display: none;}
    #header-body {
      width: 100%;
      h1 {
        max-width: 59.5rem;
        line-height: 1.1;
        font-weight: bold;
        margin: -0.7rem auto 1.8rem;
      }
      p {
        max-width: 50rem;
        line-height: 1.3;
      }
      p,
      i {
        margin: 0 auto 3rem;
      }
      i { display: block; }
      .btn {
        clear: left;
        margin-top: 0.5rem;
      }
      &.article {
        img.author-avatar {
          height: 5.4rem;
          width: 5.4rem;
          border-radius: 5.4rem;
          box-sizing: border-box;
          border: 0.5rem solid white;
          box-shadow: $box-shadow;
        }
        span {
          text-align: left;
          align-self: center;
        }
        time {
          float: right;
        }
        ul {
          margin: -1.2rem auto 0;
        }
        li {
          list-style: none;
          line-height: 1.3;
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

// @media only screen and (min-width: 440px) {
@media only screen and (min-width: 27.5em) {
  #header-parallax {
    #header-wrapper {
      padding: 10rem 5rem;
    }
  }
}
// @media only screen and (max-width: 439px) {
@media only screen and (max-width: 27.4375em) {
  #header-parallax {
    #header-wrapper {
      #header-body {
        h1 {
          font-size: 2.8rem;
          line-height: 1.2;
        }
        i {
          display: none;
        }
      }
    }
  }
}
// @media only screen and (min-width: 1440px) {
@media only screen and (min-width: 90em) {
  #header-parallax {
    #header-wrapper {
      &.index img, &.article img.round-article-image {
        width: 53.8rem;
        height: 53.8rem;
        display: block;
        right: -5.5rem;
        opacity: 0.90;
        bottom: -20rem;
        position: absolute;
      }
      .circle-shape-1 {
        height: 15rem;
        width: 42rem;
        // for test purpose
        // border-radius: 53.8rem 53.8rem 0 0; // half circle
        // background: purple;
        // opacity: .2;
        //
        float: right;
        // margin-left: 2rem;
        -webkit-shape-outside: circle(8em at 40% 70%);
        shape-outside: circle(8em at 40% 70%);
      }
      .circle-shape-2 {
        height: 26.9rem;
        width: 53.8rem;
        // for test purpose
        // border-radius: 53.8rem 53.8rem 0 0; // half circle
        // background: purple;
        // opacity: .2;
        //
        float: right;
        // margin-left: 2rem;
        -webkit-shape-outside: circle(9em at 55% 70%);
        shape-outside: circle(9em at 55% 70%);
      }
      ul {text-align: left;}
    }
  }
}

// @media only screen and (max-width: 599px) {
@media only screen and (max-width: 37.4375em) {
  #header-body.article {
    h1 {
      margin-bottom: 3.1rem;
    }
    p {
      display: none;
    }
    time {
      display: none;
    }
  }
}
// @media only screen and (min-width: 600px) {
@media only screen and (min-width: 37.5em) {
  #header-body.article {
    p {
      display: grid;
      grid-gap: 0 2rem;
      grid-template-columns: 5.4rem auto;
    }
    ul {
      font-weight: bold;
    }
  }
}

/* &curve */
#curve {
  width: 100%;
  height: 2rem;
  display: block;
  margin-top: -2rem;
  position: relative;
}
// @media only screen and (min-width: 560px) {
@media only screen and (min-width: 35em) {
  #curve {
    height: 4rem;
    margin-top: -4rem;
  }
}


