.suggestions {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 2;

  //width: 100%;
  top: 100%;
  //left: 0;
  left: 1.6125rem;
  right: 0;

  // width: calc(100% - 3.25rem);
  // left: 3.25rem;

  font-size: 1rem;
  background-color: $color-white;
  @include boxShadowHover;
  transition: all 0.2s 0.1s;
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    //align-items: center;
    //justify-content: center;
    padding: 1.2rem 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-light-1;
    }
    &:not(:last-child) {
      @include borderBottomSmall;
    }
  }
  &__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  &__item-box {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-evenly;
  }
  &__rating {
    background-color: $color-primary-dark;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1rem 1.5rem;
    align-self: stretch;
    margin-left: auto;

    display: flex;
    align-items: center;
    //justify-content: center;
  }
  &__name {
    font-size: 1rem;
  }
  &__description {
    font-size: 0.8rem;
  }
  &__stars {
    display: flex;
    //margin-left: -.1rem;
    //margin-top: .2rem;
  }
  &__icon-star {
    width: 1.25rem;
    height: 1.25rem;
    fill: $color-primary-dark;
  }
}
