---
pageable: true
per_page: 2
blog: fr
lang: fr
---
<% I18n.locale = articles.first.lang %>
<h1>Les articles associés à '<%=t("#{tagname}")%>'</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<%= partial("partials/pagination/pagination_refills_for_tags") %>
