<video autoplay loop id="video-background" class="fullscreen-bg-video" muted poster="images/paris.jpeg">
  <source src="/videos/bwcitystreet.mp4" type="video/mp4">
</video>
<div class="wrapper-text-flexbox" id="wrapper-text-flexbox">
  <div class="fullscreen-bg-content">
    <div class="welcome-text-intro">
      <div class="top-bar"></div>
      <h1>My name is Nicolas Dotto</h1>
      <h3>I am a data analyst + web developer.</h3>
      <h4 class="links">
      <%= link_to "About me", "/about"%>
      <%= link_to "Portfolio", "/portfolio"%>
      <%= link_to "Blog", "/blog"%>
      </h4>
      <div class="bottom-bar"></div>
    </div>
  </div>
</div>
<div class="video-background-overlay" id="video-background-overlay"></div>
