<video autoplay loop id="video-background" class="fullscreen-bg-video" muted poster="/images/paris.jpeg">
  <source src="/videos/bwcitystreet.mp4" type="video/mp4">
</video>
<div class="wrapper-text-flexbox" id="wrapper-text-flexbox">
  <div class="fullscreen-bg-content">
    <div class="welcome-text-intro">
      <div class="top-bar"></div>
      <h1><%= t(:occupation) %></h1>
      <h3><%= t(:passion) %></h3>
      <h4 class="links">
      <%= partial "partials/localized_paths/video-intro-links" %>
      </h4>
      <div class="bottom-bar"></div>
    </div>
  </div>
</div>
<div class="video-background-overlay" id="video-background-overlay"></div>
