<div class="animated-navigation-links menu-links icons-flex">
  <span class="links-show hidden-xs">
    <% if I18n.locale == I18n.default_locale %>
      <a href="/" data-caption="Home">
        <i class="fa fa-home"></i>
       <!--  <span class="glyphicon glyphicon-home"></span> -->
      </a>
      <a href="/about-me" data-caption="About">
        <i class="fa fa-id-card"></i>
        <!-- <span class="glyphicon glyphicon-folder-open"></span> -->
      </a>
      <!-- <a href="https://github.com/nicodosw11" data-caption="Portfolio">
        <i class="fa fa-briefcase"></i> -->
        <!-- <span class="glyphicon glyphicon-send"></span> -->
      <!-- </a> -->

      <a href="https://github.com/nicodosw11" data-caption="Projects">
        <i class="fa fa-code-fork"></i>
      </a>
      <!-- <a href="/articles" data-caption="Blog">
        <i class="fa fa-rss"></i>
      </a> -->
      <a href="/contact" data-caption="Contact">
        <i class="fa fa-paper-plane"></i>
      </a>
      <!-- <a href="/search" data-caption="Search">
        <i class="fa fa-search"></i>
      </a> -->
      <%if page_classes.include? "contact" %>
        <a id="navFra" href="/fr/contact" class="language">
          <img id="imgNavFra" src="/images/Frankreich.gif" alt="" class="img-thumbnail icon-small">
          <!-- <span id="lanNavFra">FR</span> -->
        </a>
      <% else %>
        <a id="navFra" href="/fr" class="language">
          <img id="imgNavFra" src="/images/Frankreich.gif" alt="" class="img-thumbnail icon-small">
          <!-- <span id="lanNavFra">FR</span> -->
        </a>
      <% end %>
    <% else %>
      <a href="/fr" data-caption="Home">
        <i class="fa fa-home"></i>
       <!--  <span class="glyphicon glyphicon-home"></span> -->
      </a>
      <a href="/fr/about-me" data-caption="About">
        <i class="fa fa-id-card"></i>
        <!-- <span class="glyphicon glyphicon-folder-open"></span> -->
      </a>
      <!-- <a href="https://github.com/nicodosw11" data-caption="Portfolio">
        <i class="fa fa-briefcase"></i> -->
        <!-- <span class="glyphicon glyphicon-send"></span> -->
      <!-- </a> -->

      <a href="https://github.com/nicodosw11" data-caption="Projects">
        <i class="fa fa-code-fork"></i>
      </a>
      <!-- <a href="/fr/articles" data-caption="Blog">
        <i class="fa fa-rss"></i>
      </a> -->
      <a href="/fr/contact" data-caption="Contact">
        <i class="fa fa-paper-plane"></i>
      </a>
      <!-- <a href="/fr/search" data-caption="Search">
        <i class="fa fa-search"></i>
      </a> -->
      <%if page_classes.include? "contact" %>
        <a id="navEng" href="/contact" class="language">
          <img id="imgNavEng" src="/images/Grossbritanien.gif" alt="" class="img-thumbnail icon-small">
          <!-- <span id="lanNavFra">FR</span> -->
        </a>
      <% else %>
        <a id="navEng" href="/" class="language">
          <img id="imgNavEng" src="/images/Grossbritanien.gif" alt="" class="img-thumbnail icon-small">
          <!-- <span id="lanNavFra">FR</span> -->
        </a>
      <% end %>
    <% end %>

  </span>
  &nbsp;
  <i class="fa fa-bars menu js-menu-trigger sliding-panel-button"></i>
  <!-- <span class="glyphicon glyphicon-menu-hamburger menu"></span> -->
</div>

<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="/ ">Home</a></li>
    <% if I18n.locale == I18n.default_locale %>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/fr/about">Switch to French</a></li>
    <% else %>
    <li><a href="/fr/portfolio">Code</a></li>
    <li><a href="/fr/projects">Projets</a></li>
    <li><a href="/fr/contact">Me contacter</a></li>
    <li><a href="/fr/blog">Blog</a></li>
    <li><a href="/fr/search">Chercher</a></li>
    <li><a href="/about">Switch to English</a></li>
    <% end %>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
