<div class="banner-resume-navbar">
  <strong>
    <div class="class col-xs-12 col-sm-3"><a href="#about" class="main-navbar-item main-navbar-link">About</a></div>
    <div class="class col-xs-12 col-sm-3"><a href="#resume" class="main-navbar-item main-navbar-link">Experience</a></div>
    <div class="class col-xs-12 col-sm-3"><a href="#skills" class="main-navbar-item main-navbar-link">Skills</a></div>
    <div class="class col-xs-12 col-sm-3"><a href="#portfolio" class="main-navbar-item main-navbar-link">Portfolio</a></div>
  </strong>
</div>
