<a href="#contact" class="big-link big-link-button" id="contact-button">Contact</a>

<div class="animated-navbar" id="animated-navbar">
  <div class="container">
    <div class="row" id="navigation-content">
      <div class="col-xs-4">
        <%= partial "partials/components/animated-logo" %>
      </div>
      <div class="col-xs-8 text-right">
        <%= partial "partials/components/navigation-links" %>
      </div>
    </div>
  </div>
</div>
