<div class="buttons-container-1">
  <div class="buttons-1">
    <a class="big-link-button-1" href="/about">About</a>
    <a class="big-link-button-1" href="/portfolio">Code</a>
    <a class="big-link-button-1" href="/blog">Blog</a>
    <a href="" class="big-link-button-1" id="js-fadeInElement-1">
      <img src="/images/menu-white.png" class="js-menu-trigger sliding-panel-button" alt="">
    </a>
  </div>
</div>
