<div class="buttons-container">
  <div class="buttons">
    <a class="big-link-button" href="/about">About</a>
    <a class="big-link-button" href="/portfolio">Code</a>
    <a class="big-link-button" href="/blog">Blog</a>
  </div>
</div>
