<div class="buttons-container-1">
  <div class="buttons-1">
    <a class="big-link-button-1" href="/about-me">About</a>
    <a class="big-link-button-1" href="/about-me#features">Skills</a>
    <a class="big-link-button-1" href="/about-me#projects">CV</a>
    <a href="" class="big-link-button-1" id="js-fadeInElement-1">
      <img src="/images/menu-white.png" class="js-menu-trigger sliding-panel-button" alt="">
    </a>
  </div>
</div>
