<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item"><%= t(:template_mode) %></div>
    <div class="ticker__item"><%= t(:fully_implemented) %></div>
    <div class="ticker__item"><%= t(:dummy_articles) %></div>
    <div class="ticker__item"><%= t(:make_space) %></div>
  </div>
</div>
