#article {
  color: #222; //rgb(34, 34, 34);
  display: table;
  width: 100%;
  //max-width:1070px;
  max-width: 132rem;
  margin: 22rem auto 10rem;
  padding: 0 2rem;
  @include respond(tab-port) {
    display: block;
    width: auto;
    max-width: 71rem;
    padding: 0;
  }
  @include respond(phone) {
    max-width: 90%;
  }
  .col {
    display: table-cell;
    vertical-align: top;
    @include respond(tab-port) {
      display: block;
    }
    &-content {
      padding-right: 5rem;
      & img {
        width: 100%;
        max-width: 100%;
        border-radius: .5rem;
        margin-bottom: 1rem;
        border: .5rem solid #E6E6E6; //rgb(230, 230, 230);
      }
    }
    &-sidebar {
      padding-top: 5.7rem;
      width: 31rem;
    }
  }
}

// #article article, #article aside {display:table-cell; vertical-align:top}
// #article article {
  //padding-right: 50px;
//}

// @media only screen and (max-width: 1279px) {
// @media only screen and (max-width: 79.9375em) {
//   #article article blockquote, #article ul {
//     margin: 3rem 0;
//   }
//   #article blockquote {
//     left: 0;
//     padding-left: 0;
//     border-left: 0;
//   }
// }

// @media only screen and (max-width: 1169px) {
// @media only screen and (max-width: 73.0625em) {
  // #article{
  //   width: auto;
  //   display: block;
  //   max-width: 71rem;
  // }
  // #article article{
  //   padding: 0;
  // }
  // #article .col-sidebar {
  //   display: none;
  // }
// }

// @media only screen and (max-width: 820px) {
// @media only screen and (max-width: 51.25em) {
//   #article {
//     margin-bottom: 7rem;
//     h1{
//       font-size: 4.8rem;
//       margin-top: -7rem;
//     }
//   }
// }
