/* &article */
#scatter__article {
  padding: 34px 30px 18px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-indent: -1px;
    margin: 0 auto 20px;
  }
  h2 {
    line-height: 1.2;
  }
  h3 {
    line-height: 1.3;
  }
  ul,
  ol {
    list-style-position: inside;
  }
  p,
  li,
  aside {
    line-height: 1.5;
  }
  p a,
  li a {
    color: $color-brand;
  }
  a:hover,
  aside a {
    text-decoration: underline;
  }
}
/* &article summary + address*/
#scatter__article {
  summary,
  address {
    color: #999;
    max-width: 700px;
  }
  summary {
    margin: 0 auto 20px;
  }
  address {
    display: none;
  }
  summary ul + h3 {
    margin-top: 20px;
  }
}
/* &article body */
.scatter__article-body {
  color: $color-dark;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  blockquote,
  div,
  ul,
  ol,
  dl,
  table {
    //max-width: 700px;
    max-width: 1000px;
  }
  p,
  pre,
  blockquote,
  div,
  ul,
  ol,
  dl,
  table,
  img,
  aside {
    margin: 0 auto 20px;
  }
  img {
    width: 100%;
    padding: 8px 0;
    display: block;
    max-width: 1000px;
  }
  aside {
    color: white;
    padding: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
  }
}

// @media only screen and (max-width: 767px) {
@media only screen and (max-width: 47.9375em) {
  #scatter__article summary div:last-child {
    margin-top: 20px;
  }
}

// @media only screen and (min-width: 768px) {
@media only screen and (min-width: 48em) {
  #scatter__article {
    padding: 72px 30px 75px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 auto 30px;
    }
  }
}
// @media only screen and (min-width: 768px) {
@media only screen and (min-width: 48em) {
  #scatter__article {
    summary,
    address {
      display: grid;
      color: #999;
      grid-column-gap: 50px;
    }
    summary {
      margin: 0 auto 30px;
      grid-template-columns: 35% 65%;
    }
    address {
      margin: 0 auto;
      font-style: normal;
      grid-template-columns: 100px auto;
    }
    summary ul + h3 {
      margin-top: 30px;
    }
    address h3 {
      margin-bottom: 15px;
    }
    address a:hover {
      color: $color-dark !important;
    }
    address a:first-child:hover {
      text-decoration: underline;
    }
    address a:not(:first-child) {
      top: -1px;
      font-size: 1.8rem;
      margin-left: 15px;
      position: relative;
    }
    /* &avatar */
    .avatar {
      display: flex;
      align-items: center;
    }
    .avatar img {
      width: 100%;
      border-radius: 100%;
    }
  }
}
// @media only screen and (min-width: 768px) {
@media only screen and (min-width: 48em) {
  .scatter__article-body {
    p,
    div,
    pre,
    blockquote,
    ul,
    ol,
    dl,
    table,
    img,
    aside {
      margin: 0 auto 30px;
    }
  }
}
// @media only screen and (min-width: 560px) {
@media only screen and (min-width: 35em) {
  #scatter__article {
    padding: 32px 30px 17px;
  }
  .scatter__article-body aside {
    padding: 60px;
  }
}

// adjustments
#scatter__article {
  blockquote {
    padding-left: 1.125em; //padding-left: 3rem;
    border-left: 0.6rem solid #00dd9b;
    font-style: italic;
    //margin: 0;
    a {
      white-space: pre;
      //word-wrap: break-word;
    }
  }
  pre {
    font-size: 0.75em;
    //margin: 1.5em auto;
  }
  table {
    width: 600px; //width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    //margin: 1.06875em 0;
    table-layout: fixed;
    tr,
    td,
    th {
      vertical-align: middle;
    }
    // tr:nth-child(even) {
    //   background-color: #efefef;
    // }
    // tr:hover {
    //   background-color: #c3e6e5;
    // }
    th,
    td {
      //padding: 7px 10px 10px 10px;
      padding: 1.06875em 0;
    }
    th {
      //text-transform: uppercase;
      //letter-spacing: 0.1em;
      //font-size: 90%;
      border-bottom: 1px solid #b6b6b6;
      //border-top: 1px solid #999;
      text-align: left;
      font-weight: 600;
    }
    td {
      border-bottom: 1px solid #f2f2f2;
    }
  }
  p code {
    color: #FF4D72;
    font-size: 0.8em;
    font-family: 'Input Mono', 'monaco', 'Andale Mono', monospace;
  }
}

