/* &article */
#scatter__article {
  padding: 3.4rem 3rem 1.8rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-indent: -1px;
    margin: 0 auto 2rem;
  }
  h2 {
    line-height: 1.2;
  }
  h3 {
    line-height: 1.3;
  }
  ul,
  ol {
    list-style-position: inside;
  }
  p,
  li,
  aside {
    line-height: 1.5;
  }
  p a,
  li a {
    color: $color-brand;
  }
  li {
  text-indent: 1px;
  }
  a:hover,
  aside a {
    text-decoration: underline;
  }
}
/* &article summary + address*/
#scatter__article {
  summary,
  address {
    color: #999;
    max-width: 70rem;
  }
  summary {
    margin: 0 auto 2rem;
  }
  address {
    display: none;
  }
  summary ul + h3 {
    margin-top: 2rem;
  }
}
/* &article body */
.scatter__article-body {
  color: $color-dark;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  blockquote,
  div,
  ul,
  ol,
  dl,
  table {
    //max-width: 700px;
    max-width: 100rem;
  }
  p,
  pre,
  blockquote,
  div,
  ul,
  ol,
  dl,
  table,
  img,
  aside {
    margin: 0 auto 2rem;
  }
  img {
    width: 100%;
    padding: 0.8rem 0;
    display: block;
    max-width: 100rem;
  }
  aside {
    color: white;
    padding: 3rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border-top: 0.8rem solid white;
    border-bottom: 0.8rem solid white;
  }
  aside, img.img-max {
    max-width: 69.8rem !important;
  }
}

// @media only screen and (min-width: 560px) {
@media only screen and (min-width: 35em) {
  #scatter__article {
    padding: 3.2rem 3rem 1.7rem;
  }
  .scatter__article-body aside {
    padding: 6rem;
  }
}
// @media only screen and (max-width: 767px) {
@media only screen and (max-width: 47.9375em) {
  #scatter__article summary div:last-child {
    margin-top: 2rem;
  }
}
// @media only screen and (min-width: 768px) {
@media only screen and (min-width: 48em) {
  #scatter__article {
    padding: 7.2rem 3rem 7.5rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 auto 3rem;
    }
    .scatter__article-body {
      p,
      div,
      pre,
      blockquote,
      ul,
      ol,
      dl,
      table,
      img,
      aside {
        margin: 0 auto 3rem;
      }
    }
    summary,
    address {
      display: grid;
      color: #999;
      grid-column-gap: 5rem;
    }
    summary {
      margin: 0 auto 3rem;
      grid-template-columns: 35% 65%;
    }
    address {
      margin: 0 auto;
      font-style: normal;
      grid-template-columns: 10rem auto;
      h3 {
        margin-bottom: 1.5rem;
      }
      a:hover {
        color: $color-dark !important;
      }
      a:first-child:hover {
        text-decoration: underline;
      }
      a:not(:first-child) {
        top: -1px;
        font-size: 1.8rem;
        margin-left: 1.5rem;
        position: relative;
      }
    }
    summary ul + h3 {
      margin-top: 3rem;
    }
    /* &avatar */
    .avatar {
      display: flex;
      align-items: center;
    }
    .avatar img {
      width: 100%;
      border-radius: 100%;
    }
  }
}

// adjustments
#scatter__article {
  blockquote {
    padding-left: 1.125em; //padding-left: 3rem;
    border-left: 0.6rem solid #00dd9b;
    font-style: italic;
    //margin: 0;
    a {
      white-space: pre;
      //word-wrap: break-word;
    }
  }
  pre {
    font-size: 0.75em;
    //margin: 1.5em auto;
  }
  table {
    width: 600px; //width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    //margin: 1.06875em 0;
    table-layout: fixed;
    tr,
    td,
    th {
      vertical-align: middle;
    }
    // tr:nth-child(even) {
    //   background-color: #efefef;
    // }
    // tr:hover {
    //   background-color: #c3e6e5;
    // }
    th,
    td {
      //padding: 7px 10px 10px 10px;
      padding: 1.06875em 0;
    }
    th {
      //text-transform: uppercase;
      //letter-spacing: 0.1em;
      //font-size: 90%;
      border-bottom: 1px solid #b6b6b6;
      //border-top: 1px solid #999;
      text-align: left;
      font-weight: 600;
    }
    td {
      border-bottom: 1px solid #f2f2f2;
    }
  }
  p code {
    color: #FF4D72;
    font-size: 0.8em;
    font-family: 'Input Mono', 'monaco', 'Andale Mono', monospace;
  }
}



