<section class="features" id="section-box">
  <div class="container">

    <div class="title">
      <h2>The Prize</h2>
      <hr class="small">
      <p>Here are a few good things to know about me.</p>
    </div>

    <div class="wrapper-for-inline">
      <div class="floatright-for-inline">
        <img class="profile-picture" src="/images/pic323541.jpeg">
      </div>
      <div class="padd-inline"><h4>Nicolas Dotto, Programmer/Developer</h4></div>
      <h1>What I want and what my action plan is</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
    </div>

  </div>
</section>



