<section class="features" id="section-experience">
  <div class="container">

    <div class="title">
      <h2>What did I do before?</h2>
      <hr class="small">
      <p>My main three experiences and what I like about them.</p>
    </div>

    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-icon bullet-icon-1">
          <img src="/images/close-brothers-squarelogo.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>Close Brothers</h2>
          <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
          </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-2">
          <img src="/images/hsbc-squarelogo.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>HSBC</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-3">
          <img src="/images/bnpparibas.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>BNP Paribas</h2>
          <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
        </div>
      </li>
    </ul>

  </div>
</section>
