<section class="features" id="section-features">
  <div class="container">

    <div class="title">
      <h2>What have I been working on?</h2>
      <hr class="small">
      <p>I have had a hectic time but I just loved it!</p>
    </div>

    <div class="cards">
      <div class="card">
        <div class="card-image">
  <!--         <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> -->
          <img src="/images/bonhomme1200760.jpeg" alt="">
        </div>
        <div class="card-header">
          First Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
<!--           <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt=""> -->
          <img src="images/todos1200760.jpeg" alt="">
        </div>
        <div class="card-header">
          Another Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
<!--           <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt=""> -->
          <img src="/images/bloggers1200760.jpeg" alt="">
        </div>
        <div class="card-header">
          The Last Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>

  </div>
</section>
