<section class="features" id="section-cv">
  <div class="container">

    <div class="title">
      <h2>Want the full picture?</h2>
      <hr class="small">
      <p>Here it is: market risk analysis and corporate banking.</p>
    </div>

    <div class="grid-items">
    <!-- programmer -->
      <!-- <a href="javascript:void(0)" class="grid-item"> -->
      <label for="modal-1" class="grid-item grid-item-image grid-item-image-code">
        <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt=""> -->
        <h1>Learning Web Development</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </label>
      <!-- </a> -->
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-1"></div>
          <h1>Livsty</h1>
          <div class="modal-content">
            <p>Livsty: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
          </div>
        </div>
      </div>
      <!-- programmer -->

      <!-- credit analyst -->
      <label for="modal-2" class="grid-item grid-item-big grid-item-image grid-item-image-cb">
        <img src="/images/close-brothers-squarelogo.png" alt="">
          <h1 class="padded-multiline"><span>Close Brothers, Wimbledon<br />Credit Analyst</span></h1>
          <!-- <h1 class="padded-multiline"><span>Close Brothers, Wimbledon, Credit Analyst</span></h1> -->
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-2"></div>
          <h1>Close Brothers</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content-columns">Close Brothers: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </div>
      <!-- credit analyst -->

      <!-- business analyst -->
      <label for="modal-3" class="grid-item grid-item-half grid-item-image grid-item-image-hsbc">
        <img src="/images/hsbc-squarelogo.png" alt="">
        <div class="padded-text">
          <h1>HSBC, Canary Wharf</h1><br>
          <h1>Business Analyst</h1>
          <!-- <p>2011-2012</p> -->
        </div>
      </label>
      <input class="modal-state" id="modal-3" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-3"></div>
          <h1>HSBC</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content-columns">Close Brothers: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </div>
      <!-- business analyst -->

      <!-- risk analyst -->
      <label for="modal-4" class="grid-item grid-item-half grid-item-image grid-item-image-bnp">
        <img src="/images/bnpparibas.png" alt="">
        <h1>BNP Paribas</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </label>
      <input class="modal-state" id="modal-4" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-4"></div>
          <h1>BNP Paribas</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content-columns">Close Brothers: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </div>
      <!-- risk analyst -->

      <!-- sell-side analyst -->
      <label for="modal-5" class="grid-item grid-item-image grid-item-image-sg">
        <img src="/images/sg.png" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1>Société Générale</h1>
            <p>Internship</p>
          </div>
        </div>
      </label>
      <input class="modal-state" id="modal-5" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-5"></div>
          <h1>Société Générale</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content-columns">Close Brothers: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </div>
      <!-- sell-side analyst -->

      <!-- masters -->
      <label for="modal-6" class="grid-item grid-item-image grid-item-image-dauphine">
        <img src="/images/dauphine.png" alt="">
        <h1>Master's Degree</h1>
        <p>Dauphine University</p>
      </label>
      <input class="modal-state" id="modal-6" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-6"></div>
          <h1>Dauphine University</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content-columns">Close Brothers: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </div>
      <!-- masters -->

      <!-- undergraduate -->
      <label for="modal-7" class="grid-item grid-item-image grid-item-image-lsbu">
        <img src="/images/lsbu.png" alt="">
        <h1>Bachelor of Arts</h1>
        <p>LSBU</p>
      </label>
      <input class="modal-state" id="modal-7" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-7"></div>
          <h1>LSBU</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content-columns">Close Brothers: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </div>
      <!-- undergraduate -->


    </div>

  </div>
</section>

