<section class="features" id="section-features">
  <div class="container">

    <div class="title">
      <h2>6 reasons to hire me!</h2>
      <hr class="small">
      <p>Why should you get me onboard as a junior developer? Here are a few good reasons.</p>
    </div>

    <div class="feature-items">

      <div class="feature-item">
        <i class="fa fa-free-code-camp"></i>
        <h4>On my way</h4>
        <p>I have made the decision that I wanted to become a developer and I have been coding for one year already!</p>
      </div>

      <div class="feature-item">
        <i class="fa fa-css3"></i>
        <h4>Got my hands dirty </h4>
        <p>I have built applications, websites and blogs so I am familiar with web design and advanced CSS3 concepts.</p>
      </div>

      <div class="feature-item">
        <i class="fa fa-cogs"></i>
        <h4>If this then that</h4>
        <p>Lots of ruby programming and database design under my belt - not a bad intro to web development!</p>
      </div>

      <div class="feature-item">
        <i class="fa fa-child"></i>
        <h4>Experience baby!</h4>
        <p>I have worked in London for years and I have built a strong experience working in banks.</p>
      </div>

      <div class="feature-item">
        <i class="fa fa-heart"></i>
        <h4>I found my Passion</h4>
        <p>I love finance but my real passion is for programming and I can't stop coding!</p>
      </div>

      <div class="feature-item">
        <i class="fa fa-bolt"></i>
        <h4>MO-TI-VA-TED</h4>
        <p>I am ready to go the extra mile to reach my ambitions - whatever it takes and wherever I go.</p>
      </div>

    </div>

  </div>
</section>
