<div id="js-parallax-window-2" class="parallax-window-2">
<!--   <div class="image-bg"></div>
  <div class="color-overlay"></div> -->
  <div class="parallax-static-content container">
<!--     <b>Parallax Window</b> -->
    <div class="item">
      <blockquote>“I've learned that making a 'living' is not the same thing as 'making a life'.”<cite>Maya Angelou, <a href="https://en.wikipedia.org/wiki/Maya_Angelou">Poet, memoirist, and civil rights activist.</a></cite></blockquote>
    </div>
    <br>
    <div class="item">
      <blockquote>“It is never too late to be what you might have been.”<cite>George Eliot, <a href="https://en.wikipedia.org/wiki/George_Eliot">Novelist, poet and journalist.</a></cite></blockquote>
    </div>
  </div>
  <div id="js-parallax-background-2" class="parallax-background-2" style="background-image: url('/images/paris.jpeg');"></div>
  <div class="color-overlay"></div>
</div>
