<section class="quote" id="quote2">
  <div class="image-bg"></div>
  <div class="color-overlay"></div>
  <div class="container quote-container">
    <!-- <div id="quote-slider" class="owl-carousel owl-theme"> -->
      <div class="item">
        <blockquote>“A Ship in Harbor Is Safe, But that Is Not What Ships Are Built For”
        <cite>John A. Shedd,<a href="https://quoteinvestigator.com/2013/12/09/safe-harbor/"> Author and professor, </a>Grace M. Hopper,<a href="https://en.wikipedia.org/wiki/Grace_Hopper"> Computer scientist and United States Navy rear admiral</a></cite>
      </div>
      <!-- <div class="item"> -->
        <!-- quote text -->
        <!-- <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate obcaecati autem perspiciatis excepturi totam repellendus laudantium architecto, veritatis veniam magnam, unde dolore aperiam, aspernatur commodi ad quae ab ratione, iusto! -->
        <!-- quote author -->
        <!-- <cite>John Doe, <a href="#">Freelance Magazine</a></cite></blockquote> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
</section>
