<section class="quote" id="quote1">
  <div class="image-bg"></div>
  <div class="color-overlay"></div>
  <div class="container quote-container">
    <!-- <div id="quote-slider" class="owl-carousel owl-theme"> -->
      <div class="item">
      <blockquote>“I've learned that making a 'living' is not the same thing as 'making a life'.”<cite>Maya Angelou, <a href="https://en.wikipedia.org/wiki/Maya_Angelou">Poet, memoirist, and civil rights activist.</a></cite></blockquote>
      </div>
      <!-- <div class="item"> -->
        <!-- quote text -->
        <!-- <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate obcaecati autem perspiciatis excepturi totam repellendus laudantium architecto, veritatis veniam magnam, unde dolore aperiam, aspernatur commodi ad quae ab ratione, iusto! -->
        <!-- quote author -->
        <!-- <cite>John Doe, <a href="#">Freelance Magazine</a></cite></blockquote> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
</section>
