<section class="features" id="skills">
  <div class="container">

    <div class="title">
      <h2>My very honest skills</h2>
      <hr class="small">
      <p>The most important lesson so far: web developers must constantly learn new things.</p>
    </div>

    <div class="vertical-tabs-container">
      <div class="vertical-tabs">
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">
        <!-- Item 1 -->
          <!-- <i class="fa fa-html5 prog-logo" style="font-size: 30px; width: 50px; padding: 10px;"></i> -->
          <i class="fa fa-html5 prog-logo"></i>
          <span>Front-end</span>
        </a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">
        <!-- Item 2 -->
          <i class="fa fa-diamond"></i>
          <span>Back-end</span>
        </a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">
        <!-- Item 3 -->
          <i class="fa fa-database"></i>
          <span>Database</span>
        </a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">
        <!-- Item 4 -->
          <i class="fa fa-github"></i>
          <span>Tools</span>
        </a>
      </div>

      <div class="vertical-tab-content-container">
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active js-accordion-trigger" rel="tab1">
        <!-- Item 1 -->
          <div class="container-logo-text">
            <i class="fa fa-html5 prog-logo"></i>
            <h4 class="content-text">Front-end</h4>
          </div>
        </a>
        <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
        <!-- html/css -->
          <div class="comment">
            <div class="comment-image">
              <img src="/images/js.png">
            </div>
            <div class="comment-content">
              <h1>JavaScript</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div>
        <!-- html/css -->
        <!-- javascript -->
          <div class="comment">
            <div class="comment-image">
              <img src="/images/tag.png">
            </div>
            <div class="comment-content">
              <h1>HTML5 CSS3</h1>
              <p class="comment-detail">CSS Layout Techniques; Sass;</p>
              <p>I have built blogs and personal websites using Sass & the fundamental css techniques (my own grid system or responsive css frameworks such as Bootstrap or Foundation, the box model, absolute or relative positioning, background properties for images, linear gradients, display property, float & flexbox layouts, etc.)</p>
            </div>
          </div>
        <!-- javascript -->
        <!-- react -->
          <div class="comment">
            <div class="comment-image">
              <img src="/images/react.png">
            </div>
            <div class="comment-content">
              <h1>Frameworks</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div>
        <!-- react -->
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading js-accordion-trigger" rel="tab2"><!-- Item 2 -->
          <div class="container-logo-text">
            <i class="fa fa-diamond"></i>
            <h4 class="content-text">Back-end</h4>
          </div>
        </a>
        <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
          <!-- ruby -->
          <div class="comment">
            <div class="comment-image">
              <img src="/images/ruby.png">
              <img src="/images/python.png">
            </div>
            <div class="comment-content">
              <h1>Ruby (&Python)</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div>
        <!-- ruby -->
        <!-- java -->
          <!-- <div class="comment">
            <div class="comment-image">
              <img src="/images/java.png">
            </div>
            <div class="comment-content">
              <h1>Java</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div> -->
        <!-- java -->
        <!-- rails -->
          <div class="comment">
            <div class="comment-image">
              <img src="/images/rails.png">
              <img src="/images/middleman-logo.png">
            </div>
            <div class="comment-content">
              <h1>Frameworks</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div>
        <!-- rails -->
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading js-accordion-trigger" rel="tab3"><!-- Item 3 -->
          <div class="container-logo-text">
            <i class="fa fa-database"></i>
            <h4 class="content-text">Database</h4>
          </div>
        </a>
        <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
        <!-- sql -->
          <div class="comment">
            <div class="comment-image">
              <img src="/images/sql.png">
            </div>
            <div class="comment-content">
              <h1>SQL</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div>
        <!-- sql -->
        <!-- R -->
          <!-- <div class="comment">
            <div class="comment-image">
              <img src="/images/r.png">
            </div>
            <div class="comment-content">
              <h1>R</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div> -->
        <!-- R -->
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading js-accordion-trigger" rel="tab4"><!-- Item 4 -->
          <div class="container-logo-text">
            <i class="fa fa-github"></i>
            <h4 class="content-text">Tools</h4>
          </div>
        </a>
        <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
                 <!-- html/css -->
          <div class="comment">
            <div class="comment-image">
              <img src="/images/github-white-logo.png">
            </div>
            <div class="comment-content">
              <h1>Github</h1>
              <p class="comment-detail">Date or details about this technology</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            </div>
          </div>
        <!-- html/css -->
        </div>
      </div>
    </div>

  </div>
</section>
