body {
  margin-top: 3.75em;
  @include media($xlarge) {
    margin-top: 4.75em;
  }
}

body.index {
  @include outer-container;
  @include clearfix;
  margin-top: 0;
}

.outer-container {
  @include outer-container;
  // @include media($tablet) {
  //   max-width: 80%;
  // }
  // @include media($medium-device) {
  //   max-width: $max-width;
  // }
}

// Article Layout
.blog-content {
// article {
  @include pad(0 default);
  @include span-columns(12);
  @include media($medium) {
    @include span-columns(4 of 6);
    // @include shift(1);
    @include pad(0 default);
  }
  @include media($large) {
    @include span-columns(6 of 10);
    // @include shift(1);
    @include pad(0 default);
  }
  @include media($xlarge) {
    @include span-columns(8 of 12);
    // @include shift(1);
    // @include pad(0);
    @include pad(0 default);
  }
// }

  article {
    // @include span-columns(12 of 12);
    @include media($medium) {
      @include span-columns(4 of 4);
    }
    @include media($large) {
      @include span-columns(6 of 6);
      @include shift-in-context(1 of 10);
    }
    @include media($large) {
      @include span-columns(8 of 8);
      @include shift-in-context(1 of 12);
    }
  }
}

aside {
  // @include span-columns(12 of 12);
  @include media($medium) {
    @include span-columns(2 of 6);
    // @include shift(1);
    // @include pad(0 default);
  }
  @include media($large) {
    @include span-columns(3 of 10);
    @include shift(1);
    // @include pad(0 default);
  }
  @include media($xlarge) {
    @include span-columns(3 of 12);
    @include shift(1);
    // @include pad(0);
    @include pad(0 default);
  }

  // fieldset {
  //   @include media($medium) {
  //     @include span-columns(1 of 2);
  //   }
  //   @include media($large) {
  //     @include span-columns(2 of 3);
  //   }
  //   @include media($xlarge) {
  //     @include span-columns(2 of 3);
  //   }
  // }
}



footer {
  background-color: #ECF0F1;
  padding: 0 2em;
}
img#footer-logo {
  width: 112px;
  width: 7rem;
  margin: 0em auto;
  padding: 0 0 1em;
  display: block;
  @media only screen and (max-height: 20em) {
    width: 2.75rem;
  }
  @media only screen and (max-width: 40em) {
    width: 2.75rem;
  }
}
