@charset "utf-8";
// @import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');
// @import url('http://fonts.googleapis.com/css?family=Oxygen:400,300,700');
// @import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

// $sans-serif: 'Oxygen', $helvetica;
@import "bourbon/app/assets/stylesheets/bourbon";
// Bitters needs to be imported before Neat
@import "base/base";
@import "neat/app/assets/stylesheets/neat";
@import "components-font-awesome/scss/font-awesome.scss";
@import "highlights/solarized-light";
@import "mixins";
// @import "texture";
@import "normalize";
// @import "layout-plain-listing";
@import "layout";
// @import "layouts/layout-standard12";
// @import "layouts/layout-screenup";
// @import "prism";
// @import "highlights/syntax";
@import "custom-typography";
@import "homepage/index";
@import "components/footer";
@import "components/navbar";
@import "components/pagination";
@import "components/sliding-panel";
@import "blog-listing/blog-articles-listing";
@import "blog-listing/tags";
@import "blog-listing/sidebars";
@import "blog-article/article";
@import "blog-article/header-image";
@import "blog-article/metas";
@import "search/search";
@import "search/search-background-cover";
@import "search/searchpage-list-items";
@import "search/search-scrolldown";
@import "search/search-sidebar";
@import "about/index";
// @import "about/parallax-fullscreen";
// @import "about/banner-fullscreen";
@import "about/intro-video";
@import "about/parallax";

@import "portfolio/background-cover";
@import "portfolio/filters";
@import "portfolio/hover-tile";
@import "portfolio/modal-layout";
@import "portfolio/modal-project";
@import "portfolio/shuffle-grid";

@import "about/sections/index";
@import "portfolio/apps/portfolio";
@import "portfolio/apps/apps-scrolldown";

/* apply a natural box layout model to all elements, but allowing components to change */

*,
// html
*:before,
*:after {
  box-sizing: border-box;
}
// *, *:before, *:after {
//   box-sizing: inherit;
// }

html {
  height: 100%;
  // border-bottom: 3px solid blue;
}

body {
  height: 100%;
  // border-bottom: 3px solid orange;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  // background: url('/images/Preloader_2.gif') center no-repeat rgba(255,255,255,0.8);
  background: url('/images/spinner.gif') center no-repeat #fff;
  // display: none;
}



