<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Patua+One|Pacifico" >
  <%= stylesheet_link_tag "style-flex-table" %>
  <link rel="icon" type="image/gif" href="/images/logo.gif" />
  <title>Blog posts</title>
</head>
<body id="template-body-index">
  <%= yield %>
  <dialog id="modal-blog" class="animated">
    <!-- <i id="modal-close" class="fas fa-times"></i> -->
    <span id="modal-close">&times;</span>
    <div id="modal-blog-content" class="animated">
      <a class="bg-peas" href="/articles/">Coding</a>
      <a class="bg-zigzag" href="/financial/">FinTech</a>
      <a class="bg-constellation" href="/lifestyle/">Travel</a>
      <a class="bg-waves" href="/latest/">Latest</a>
    </div>
  </dialog>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script>
  var modal = $("#modal-blog");
  var modalDiv = modal.find(">div");
  var modalBlog = $("#modal-blog-content");
  var revealBlog = $(".show-blog-modal");
  revealBlog.on("click", function () {
    modal.addClass("show fadeInOut");
    modalBlog.addClass("show bounceIn");
  });
  modal.on("click", function () {
    modal.addClass("fadeOutIn");
    modalDiv.addClass("bounceOut");
    setTimeout(function () {
      modal.removeClass("show fadeInOut fadeOutIn");
      modalDiv.removeClass("show bounceIn bounceOut");
    }, 300);
  });
  modalDiv.on("click", function (e) {
    e.stopPropagation();
  });
</script>
<script>
  var nav = $("#nav.scrollable");
  var windowHeight = document.documentElement.clientHeight; /* &onscroll */
  $(window).on("scroll", function () {
    if (window.pageYOffset > 60) {
      nav.addClass("scrolled");

    }
    if (window.pageYOffset <= 60) {
      nav.removeClass("scrolled");

    }
  });
</script>

</html>
