<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Patua+One|Pacifico" >
  <%= stylesheet_link_tag "style-flex-table" %>
  <link rel="icon" type="image/gif" href="/images/logo.gif" />
  <title>Blog posts</title>
</head>
<body id="template-body-index">
  <%= yield %>
</body>
</html>
