body.about.about_index, body.fr.fr_about.fr_about_index {
  // html, body, section.intro, .split, .split-text {
  // height: 100%;
  // }

  .footer {
    $footer-background:  #2ecc71;
    background: $footer-background;
  }

  .sliding-panel-content {
    $sliding-panel-border-color: #2ecc71;
    $sliding-panel-background: darken($sliding-panel-border-color, 5%);
    background: $sliding-panel-background;
    li a {border-bottom: 1px solid #208e4e !important;}
    li a:hover {background-color: #208e4e !important;}
  }

  .lewagon-picture {
    height: 30px;
    width: auto;
    vertical-align: middle;
  }

  // section {
  //   padding: 6em 0 3em;
  //   position: relative;
  // }
  section.features {
    padding: 6em 0 3em;
    // to accommodate fixed background image
    position: relative;
    z-index: 2;
    // background-color: #ECF0F1;
    background: white;
    @include span-columns (12);
  }
  #experience {
    z-index: 1;
  }
  .container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5em;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (min-width: 30em) {
    section.intro-about, section.intro-video, .banner-container {
      .container {
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      }
    }
  }
  @media screen and (max-width: 30em) {
    section.intro-about, section.intro-video, .banner-container {
      .container {
      padding-top: 8em;
      }
    }
  }

}
