body.about.about_index, body.fr.fr_about.fr_about_index {
  // .modal {
  //   $medium-screen: 30em !default;
  //   $large-screen: 50em !default;

    &.modal-open {
      position:fixed;
      overflow:hidden;
      width: 100%;
      height: 100%;
    }

    label {
      // cursor: pointer;
      // font-weight: normal;
      // margin-bottom: 0;
    }

    .modal-state {
      display: none;
    }

    .modal-fade-screen {
    // overlay
      @include position(fixed, 0 0 0 0);
      background-color: rgba(0, 0, 0, 0.85);
      opacity: 0;
      transition: opacity 0.25s ease;
      visibility: hidden;
      z-index: 99999;

      // padding-top: 0.6em;
      // text-align: left;

      @include media($large-screen) {
        padding-top: 10em;
      }
    }

    // .modal-bg {
    //   @include position(absolute, 0 0 0 0);
    //   cursor: pointer;
    // }

    .modal-close {
      $modal-padding: 3em;
      $modal-close-color: #5BC0BE;
      @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
      @include size(1.5em);
      background: #fff;
      cursor: pointer;

      &::after,
      &::before {
        @include position(absolute, 3px 3px 0 50%);
        @include size(0.15em 1.5em);
        background: $modal-close-color;
        content: "";
        display: block;
        margin: -3px 0 0 -1px;
        transform: rotate(45deg);
      }

      &:hover::after,
      &:hover::before {
        background: darken($modal-close-color, 10%);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }

    .modal-inner {
      $modal-padding: 2em;
      background-color: #fff;
      border-radius: 3px;
      margin: 78px auto;
      max-height: 95%;
      overflow: auto;
      padding: $modal-padding / 2;
      position: relative;
      top: 0.5em;
      transition: opacity 0.25s ease;
      width: 95%;

      @include media($medium-screen) {
        margin: auto;
        max-height: 70%;
        width: 60%;
        padding: $modal-padding;
      }

      @include media($large-screen) {
        width: 50%;
      }

      h1 {
        font-size: 2em;
        color: #333;
        text-align: left;
        text-transform: capitalize;
      }
      p {
        font-size: 1em;
        color: #333;
        line-height: 1.5em;
      }

      .modal-intro {
        margin-bottom: 1em;
      }
      .modal-content-columns {
        color: #333;

        @include media($medium-screen) {
          columns: 2 8em;
        }
      }
    }

    .modal-state:checked + .modal-fade-screen {
      opacity: 1;
      visibility: visible;
    }


    .modal-open {
      overflow: hidden;
    }

    .modal-closed {
      overflow: auto;
    }

  // Based on code by Kasper Mikiewicz
  // }

}
