<header class="nav">
<% link_to '/', :id => 'nav-logo', :class => 'logo-button' do %>
<%= image_tag 'logo.gif' %>
  <% end %>
<% link_to '/', :id => 'nav-logo', :class => 'js-menu-trigger sliding-panel-button' do %>
<%= image_tag 'logo.gif' %>
  <% end %>
  <ul>
    <li><a href="/blog">Blog</a></li>
    <li><a href="http://www.nicolasdotto.com#contact">Contact</a></li>
    <li>
      <!-- <a href="/search" class="text-link">Search</a> -->
      <a href="/search" class="icon-link"><i class="fa fa-search"></i></a>
    </li>
    <li>
      <a id="navFra" href="fr/blog" class="language">
        <img id="imgNavFra" src="http://www.roemheld.de/IT/Data/Images/Address/Frankreich.gif" alt="" class="img-thumbnail icon-small">
        <!-- <span id="lanNavFra">FR</span> -->
      </a>
    </li>
  </ul>
</header>

<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="/ ">Home</a></li>
    <li><a href="#contact-me">Contact</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/fr/blog">Switch to French</a></li>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
