<section class="intro-about" id="section-intro">
  <div class="image-bg"></div>
  <div class="color-overlay"></div>
  <div class="container">

    <div class="logo">
      <a href="index.html"><h1><img src="/images/logo-white.png" alt="logo"></h1></a>
    </div>
    <h3> <%= t(:one_day)%> </h3>
  </div>

  <a href="#section-features" class="jump-down"><i class="fa fa-chevron-down"></i></a>
</section>
