<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <b>Parallax Window</b>
  </div>
  <div id="js-parallax-background" class="parallax-background" style="background-image: url('/images/paris.jpeg');"></div>
  <div class="color-overlay"></div>
</div>

