---
title: Scatter-style Blog Index
pageable: true
per_page: 4
hide_from_sitemap: false
description: Scatter-style Blog covering Code, Design, Business, and Life when a freelance web-designer.
layout: blog-index-scatter
blog: fr
lang: fr
---

<%= partial "partials-blog-scatter/scrolled-nav" %>
<%= partial "partials-blog-scatter/header-parallax-index" %>
<main id="scatter-main">
  <%= partial "partials-blog-scatter/scatter-list" %>
</main>

