---
title: Projects in french
blog: fr
layout: portfolio
---

<div class="background-scroll-cover-mobile"></div>
<div class="background-scroll-cover-medium"></div>
<div class="background-scroll-cover-desktop"></div>

<%= partial("partials/navbars/navbar-projects")%>

<div class="modal-overlay closed" id="modal-overlay"></div>
<div class="container-gallery">
  <%= partial("partials/portfolio/flex-menu")%>
  <div class="shuffle-grid">
    <% data.projects.each do |project, details| %>
      <%= partial("partials/portfolio/card-project-for-modal", :locals => { :title => project, :project_id => details.project_id, :card => details.card, :modal => details.modal }) %>
   <% end %>
  </div>
</div>
<%= partial("partials/portfolio/modal-project")%>
