---
title: Projects in french
blog: fr
layout: portfolio
---

<div class="background-scroll-cover-mobile"></div>
<div class="background-scroll-cover-medium"></div>
<div class="background-scroll-cover-desktop"></div>

<%= partial("partials/navbars/navbar-projects")%>

<div class="modal-overlay closed" id="modal-overlay"></div>
<div class="container-gallery">
  <div class="filter-button-group">
    <ul>
      <li class='filter' data-target='all'>Tous</li>
      <li class='filter' data-target='HTML5-CSS3-JavaScript'>HTML5 CSS3 JavaScript</li>
      <li class='filter' data-target='RubyOnRails'>RubyOnRails</li>
      <li class='filter' data-target='Python-Nodejs'>Python/Node.js</li>
      <li class='filter' data-target='Web-apps'>Wep apps</li>
      <li class='filter' data-target='Mobile'>Mobile</li>
    </ul>
  </div>
  <div class="shuffle-grid">
    <% data.projects.each do |project, details| %>
      <%= partial("partials/portfolio/card-project-for-modal", :locals => { :title => project, :project_id => details.project_id, :card => details.card, :modal => details.modal }) %>
   <% end %>
  </div>
</div>
<%= partial("partials/portfolio/modal-project")%>
