---
title: Search
blog: en
layout: layout
---
<div class="brand-logo js-menu-trigger sliding-panel-button">
  <% link_to 'http://www.nicolasdotto.com', :id => 'logo' do %>
  <%= image_tag 'logo.gif' %>
  <% end %>
</div>
<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="/ ">Home</a></li>
    <li><a href="/#contact-me">Contact</a></li>
    <li><a href="/fr/blog">French</a></li>
    <li><a href="/blog">English</a></li>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>

<div class="device-background">
  <div class="device-text">
    <h4><%= t(:search_for) %></h4>
    <p><%= t(:search_comment) %></p>
    <p><input type="text" id="search" placeholder="Search..." width="100%"></p>
    <p id="result-count"><p>
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>

<figure>
  <div class="list-group searchresults"></div>
  <div id="fallback-search">
    <p>Sorry no results were found</p>
  </div>
</figure>



