---
title: Nicolas Dotto London-based freelance web developer
blog: en
---
<div class="thankyou">
  <h2 class="serif">Thanks for reaching out!<br>I'll get back to you as soon as I can.</h2>
  <% link_to '/', :id => 'logo' do %>
      <%= image_tag 'logo.png' %>
  <% end %>
</div>
<!-- <script>
  svgeezy.init(false, 'png');
</script> -->
