---
title: Nicolas Dotto London-based freelance web developer
blog: fr
---
<div class="thankyou">
  <h2 class="serif">Merci de m'avoir contacté!<br>Je vous répondrai au plus vite.</h2>
  <% link_to 'http://www.nicolasdotto.com', :id => 'logo' do %>
      <%= image_tag 'logo.png' %>
  <% end %>
</div>
<!-- <script>
  svgeezy.init(false, 'png');
</script> -->
