.down-arrow {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 10px;
  left: 50%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  @include animation(bounce 2s infinite);
}
