.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    flex-basis: 20em;
    flex-grow: 1;
    margin: 0 0.5em;
    &:first-child { margin-left: 0 !important; }
    &:last-child { margin-right: 0 !important; }
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-icon-2 {
    // background: adjust-hue($action-color, -50%);
    background: #DA4734;
  }

  .bullet-icon-3 {
    background: $action-color;
  }

  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
    // font-size: 1em;
    text-align: justify;

    font-size: 0.875em !important; // 14px
    @include media($tablet) {
      font-size: 1em !important; // 16px
    }
    @include media($desktop) {
      font-size: 1.125em !important; // 18px
    }
    @include media($desktop-up) {
      font-size: 1.25em !important; // 20px
    }
  }

  img {
    max-width: 100%;
  }
}
