<section class="logo-name-message">
  <div class="box">
    <div class="brand">
      <div class="brand-logo">
        <% link_to '/', :id => 'logo' do %>
            <%= image_tag 'logo.png' %>
        <% end %>
        <h1 id="name">Nicolas Dotto</h1>
      </div>
      <h2 id="tagline">London-based freelance web developer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatum amet aliquam, ad dicta pariatur consequuntur non neque ipsam atque reiciendis harum ut iusto facere nostrum totam, similique vel explicabo.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatum amet aliquam, ad dicta pariatur consequuntur non neque ipsam atque reiciendis harum ut iusto facere nostrum totam, similique vel explicabo.</p>
<!--         <a href="" class="big-link menu-button" id="js-fadeInElement">
          <img src="/images/menu-white.png" class="js-menu-trigger sliding-panel-button" alt="">
        </a> -->
    </div>

  </div>
</section>


