body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size; // 16px
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem; // 60px

  &--main {
    display: block;
    font-size: 6rem; // 60px
    font-weight: 400;
    letter-spacing: 0.6rem; // 6px

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }
  }
  &--sub {
    display: block;
    font-size: 2rem; // 20px
    font-weight: 700;
    letter-spacing: 1.5rem; // 15px

    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?322b1i");
  src: url("/fonts/icomoon.eot?322b1i#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?322b1i") format("truetype"),
    url("/fonts/icomoon.woff?322b1i") format("woff"),
    url("/fonts/icomoon.svg?322b1i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-javascript:before {
  content: "\e900";
  //color: #f7df1e;
}
.icon-ethereum:before {
  content: "\e901";
}
.icon-ruby:before {
  content: "\e902";
  //color: #cc342d;
}
.icon-python:before {
  content: "\e903";
  //color: #3776ab;
}
.icon-rails:before {
  content: "\e904";
  //color: #c00;
}



