<section class="section-about" id="about">
  <div class="u-center-text u-margin-bottom-large">
    <h2 class="heading-secondary">
      More than just a developer
    </h2>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">My way to programming</h3>
      <p class="paragraph">
        As new tech changes the way entire industries operate, roles are also adapting and we need to build new skillsets.
        So I started with a coding bootcamp in Ruby, Rails & JavaScript which acted as a catalyst for my new career. After the bootcamp I felt that the next step to progress from being a Junior Ruby developer was to build a MVP for a start-up as a freelancer. Then I joined Utelier for my very first "commercial experience" as people like to say.
      </p>
      <h3 class="heading-tertiary u-margin-bottom-small">2-year experience as a developer</h3>
      <p class="paragraph">
        I am a full-stack Ruby/JavaScript developer with a background in banking and (almost) two years of experience as a developer: one as a freelancer building a MVP for Livsty and now as a developer at Utelier. I am passionate about programming because it is both creative and intellectually stimulating. Still I feel very much interested in finance, which is why ideally I would like to work in an environment where these two worlds come together.
      </p>
      <a href="#features" class="btn-text">My skillset &rarr;</a>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <img src="/images/architecture-banks-barclays.jpg" alt="" class="composition__photo composition__photo--p1">
        <img src="/images/top-view-of-paris.jpg" alt="" class="composition__photo composition__photo--p2">
        <img src="/images/fashion.jpg" alt="" class="composition__photo composition__photo--p3">
      </div>
    </div>
  </div>
</section>

