<section class="section-features" id="features">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-python"></i>
        <i class="feature-box__icon icon-flask"></i>
        <i class="feature-box__icon icon-apacheairflow"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Python</h3>
        <p class="feature-box__text">
          <!-- I chose JavaScript to be my go-to language. Yes it is asynchronous but it is versatile. Familiar with ES6, I spent a lot of time going deep into the intricacies of the language. -->
          Proficient in Python<br></br>
          Experience with Python frameworks, esp. Flask<br></br>
          Working knowledge of Pandas & NumPy Python Libraries<br></br>
          Experience with Unit, Integration and Mock testing<br></br>
          Experience of Data pipeline and ETL (Apache Airflow)
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-mysql"></i>
        <i class="feature-box__icon icon-postgresql"></i>
        <i class="feature-box__icon icon-mongodb"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">SQL & Databases</h3>
        <p class="feature-box__text">
          <!-- My first language. I've really enjoyed working with Ruby so far and all the more after reading The Well-Grounded Rubyist and Practical Object-Oriented Design superb books. -->
          Working knowledge of SQL<br></br>
          Experience working with RDBMS, relational and NoSQL databases:<br></br>
          PostgreSQL / mySQL / DynamoDB<br></br>
          Knowledge of good database design and modelling
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-docker"></i>
        <i class="feature-box__icon icon-amazonaws"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Docker/AWS</h3>
        <p class="feature-box__text">
          <!-- I have used Rails to build Livsty current application and I have continued to use it while building Utelier platform coupled with GraphQL and Elm on the front-end. -->
          Familiarity with Docker containerization and cloud services (AWS)<br></br>
          Knowledge of continuous integration/continuous deployment (CI/CD) fundamentals<br></br>
          Experience deploying code to production with provisioning tools (AWS/Terraform)<br></br>
          Experience implementing REST APIs
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-javascript"></i>
        <i class="feature-box__icon icon-ruby"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">JavaScript/Ruby</h3>
        <p class="feature-box__text">
          <!-- I am familiar with React which I have used in the past for personal Rails projects/Single Page Applications. I am willing to use React framework more and more in my next role. -->
          Experience of Frontend development, esp. React and modern Javascript (ES6)<br></br>
          Familiarity with front-end technologies (HTML5 & CSS3)<br></br>
          Good knowledge of Ruby and related frameworks<br></br>
          NodeJS (Basics)
        </p>
      </div>
    </div>
  </div>
</section>
