<section class="section-features" id="features">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-javascript"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">JavaScript</h3>
        <p class="feature-box__text">
          I chose JavaScript to be my go-to language. Yes it is asynchronous but it is versatile. Familiar with ES6, I spent a lot of time going deep into the intricacies of the language.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-ruby"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Ruby</h3>
        <p class="feature-box__text">
          My first language. I've really enjoyed working with Ruby so far and all the more after reading The Well-Grounded Rubyist and Practical Object-Oriented Design superb books.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-rails"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Rails</h3>
        <p class="feature-box__text">
          I have used Rails to build Livsty current application and I have continued to use it while building Utelier platform coupled with GraphQL and Elm on the front-end.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-react"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">React</h3>
        <p class="feature-box__text">
          I am familiar with React which I have used in the past for personal Rails projects/Single Page Applications. I am willing to use React framework more and more in my next role.
        </p>
      </div>
    </div>
  </div>
</section>
