<section class="section-projects" id="projects">
  <div class="u-center-text u-margin-bottom-large">
    <h2 class="heading-secondary">
      From Banking to Tech
    </h2>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--orangish">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--orangish">Credit & Market Risk</span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Market Risk</li>
              <li>Credit Risk</li>
              <li>Property Finance</li>
              <li>Asset Finance</li>
              <li>Financial Products</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--orangish">
          <div class="card__side card__side--back card__side--back--orangish">
            <div class="card__cta">
              <div class="card__ask-box">
                <p class="card__ask-main">“Every time you confront something painful, you are at a potentially important juncture in your life — you have the opportunity to choose healthy and painful truth or unhealthy but comfortable delusion. ”</p>
                <p> — Ray Dalio, Principles: Life and Work</p>
                <br>
                <p class="card__ask-text" style="font-size: 1.5rem">BNP Paribas/HSBC/Close Brothers</p>
                <p class="card__ask-text" style="font-size: 1.5rem">Oct 2012 - Jul 2016</p>
              </div>
              <a href="#popup1" class="btn btn--white btn--scaled btn--scaled--white">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--greenish">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--greenish">Full-stack web developer</span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Ruby</li>
              <li>Rails</li>
              <li>JavaScript</li>
              <li>jQuery</li>
              <li>PostgreSQL</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--greenish">
          <div class="card__side card__side--back card__side--back--greenish">
            <div class="card__cta">
              <div class="card__ask-box">
                <p class="card__ask-main">“If you’re not failing, you’re not pushing your limits, and if you’re not pushing your limits, you’re not maximizing your potential. ”</p>
                <p> — Ray Dalio, Principles: Life and Work</p>
                <br>
                <p class="card__ask-text" style="font-size: 1.5rem">Livsty</p>
                <p class="card__ask-text" style="font-size: 1.5rem">Dec 2016 - Dec 2017</p>
                <br>
                <p class="card__ask-text" style="font-size: 1.5rem">Utelier</p>
                <p class="card__ask-text" style="font-size: 1.5rem">Feb 2018 - Jan 2019</p>
              </div>
              <a href="#popup2" class="btn btn--white btn--scaled btn--scaled--white">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--blueish">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--blueish">Python developer</span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Python</li>
              <li>Data Pipelines (Airflow)</li>
              <li>Snowflake</li>
              <li>Docker/AWS</li>
              <li>Flask API</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back--blueish">
          <div class="card__side card__side--back card__side--back--blueish">
            <div class="card__cta">
              <div class="card__ask-box">
                <p class="card__ask-main">“Look for people who have lots of great questions. Smart people are the ones who ask the most thoughtful questions, as opposed to thinking they have all the answers. Great questions are a much better indicator of future success than great answers. ”</p>
                <p> - Ray Dalio, Principles: Life and Work</p>
                <br>
                <p class="card__ask-text" style="font-size: 1.5rem">Resolver</p>
                <p class="card__ask-text" style="font-size: 1.5rem">Feb 19 - Jan 20</p>
              </div>
              <a href="#popup3" class="btn btn--white btn--scaled btn--scaled--white">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-center-text u-margin-top-xlarge">
    <a href="https://github.com/nicodosw11" class="btn btn--green btn--scaled btn--scaled--green">Explore the projects</a>
  </div>
</section>

<div class="popup" id="popup1">
  <a href="#projects" class="cancel"></a>
  <div class="popup__content">
    <div class="popup__left">
      <img src="/images/fimarkets.jpeg" alt="" class="popup__img">
      <img src="/images/sg.jpeg" alt="" class="popup__img">
    </div>
    <div class="popup__right">
      <a href="#projects" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">Financial Analyst</h2>
      <h3 class="heading-tertiary u-margin-bottom-medium">BNP Paribas/HSBC/Close Brothers &ndash; Credit & Market Risk</h3>
      <p class="popup__text">
        I come from a background in finance and I graduated with a master's degree in Banking from Paris Dauphine University.
        I chose to relocate to London early in my career because London offered the international and multicultural environment I've always been looking for.
        I worked as a contractor for three years first at the french bank BNP Paribas, where I was in charge of monitoring financial exposure of the bank and ensuring it was correctly reflected in the systems across the whole range of products.
        Then at HSBC, my role evolved towards interacting with traders and quants and investigating any mismatch between trading and risk systems. That is when I realized that what I was really interested in was to build and improve those systems myself
        rather than just analysing them and I started to learn programming on my own.
        When looking for my next contract I was offered a permanent position at Close Brothers and that was the opportunity for me to settle down. The role has proved to be very interesting as I was exposed to high-profile property developments,
        energy assets financing and even Barclays Premier League football transfers.
      </p>
      <a href="#contact" class="btn btn--green btn--scaled btn--scaled--green">Contact me</a>
    </div>
  </div>
</div>

<div class="popup" id="popup2">
  <a href="#projects" class="cancel"></a>
  <div class="popup__content">
    <div class="popup__left">
      <img src="/images/top-view-of-paris.jpg" alt="" class="popup__img">
      <img src="/images/fashion.jpg" alt="" class="popup__img">
    </div>
    <div class="popup__right">
      <a href="#projects" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">FullStack web developer</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">LIVSTY, London &ndash; Ruby, Rails, JavaScript/jQuery, PostgreSQL</h3>
      <p class="popup__text u-margin-bottom-small">
        Built the Minimum Viable Product for Livsty, a crowdfunding platform where investors can buy shares in advertised properties.
        Livsty is redefining the French viager system by reversing the scheme's cash-flow structure. Based in Paris, Livsty is an online investment platform which enables everyone to invest in occupied properties via the french Viager scheme and makes accessible to everyone a forward-looking saving scheme both responding to societal challenges and maximising income.
        <!-- Property owners can also sell their properties with Livsty saving them the tiresome advertising, appointments and negotiations. -->
      </p>
      <h3 class="heading-tertiary u-margin-bottom-small">UTELIER, London &ndash; Ruby, Rails, JavaScript/Elm, PostgreSQL</h3>
      <p class="popup__text u-margin-bottom-small">
        Worked at Utelier in a team of 5 developers, with each member taking ownership of a specific set of features of the application, maintaining both the backend as well as the frontend of each part across the stack.
        Utelier wanted to disrupt the current process of taking a design to a manufacturer and worked on a SaaS fashion manufacturing platform for more than 5 years, connecting designers and fashion brands to global manufacturers, freelance designers and industry specialists.
      </p>
      <a href="#contact" class="btn btn--green btn--scaled btn--scaled--green">Contact me</a>
    </div>
  </div>
</div>

<div class="popup" id="popup3">
  <a href="#projects" class="cancel"></a>
  <div class="popup__content">
    <div class="popup__left">
      <img src="/images/network.jpeg" alt="" class="popup__img">
      <img src="/images/python.jpg" alt="" class="popup__img">
    </div>
    <div class="popup__right">
      <a href="#projects" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">Python developer</h2>
      <h3 class="heading-tertiary u-margin-bottom-medium">RESOLVER, London &ndash; Python, Data Pipelines, Snowflake, MySQL, Docker, AWS</h3>
      <p class="popup__text">
        Joined the data team at Resolver to help the effective integration of multiple data sources into the data pipeline to database, analytics, and machine-learning data repositories. I have been responsible for operationalising and supporting a stable data pipeline and its orchestration from source to target using Python, Apache Airflow, Docker, AWS, Terraform (for deployment), Snowflake cloud data warehousing and other AWS services, such as EC2, RDS, DynamoDB. Assisted with delivery of custom data visualisation (Looker). <br>
        Resolver is on a mission to augment Business Intelligence with artificial intelligence to create a powerful analytics and insight proposition to help both consumers and businesses get better outcomes in the complaints management space.
      </p>
      <a href="#contact" class="btn btn--green btn--scaled btn--scaled--green">Contact me</a>
    </div>
  </div>
</div>

