#hi {
  @include media ($mobile-only) {
    display: none;
  }
  background-color: rgba(256, 256, 256, .75);
  // position: absolute;
  // top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  @include clearfix;
  @include pad(0 default);
  padding-top: modular-scale(1);
  padding-bottom: modular-scale(1);
  clear: both;
  @media only screen and (min-height: 40em) {
    height: 100vh;
  }
  @media only screen and (min-height: 30em) {
    @include media($medium) {
      position: static;
      // height: auto;
      height: 100vh;
      // margin: 20vh auto 50vh;
      margin: 0 auto 50vh;
      @include span-columns(3 of 6);
      // @include shift(1);
      @include pad(0 default);
    }
  }
  @include media($large) {
    @include span-columns(5 of 10);
    // @include shift(1);
    @include pad(0 default);
  }
  @include media($xlarge) {
    @include span-columns(4 of 12);
    @include shift(1);
    @include pad(0);
  }
  h1 {
    text-align: left;
    @include media($large) {
      font-size: modular-scale(6);
    }
  }
}
