.section-articles {
  .tag-label {
    display: inline-block;
    background: #00b16a;
    color: #fff;
    border-radius: 2em;
    font-size: 1em;
    line-height: 1;
    padding: .5rem 1rem;
    text-align: center;
    margin-right: 0.4em;
    text-transform: lowercase;
  }
  color: #222; //rgb(34, 34, 34);
  margin-top: 3rem;

  & > div.article-container:nth-of-type(odd) {
    //> div:nth-of-type(2n+1)
    color: #222; //rgb(34, 34, 34);
    padding: 20rem 0;
    img {
      border: 1rem solid #e6e6e6;
    }
    // &:last-child {
    //   display: none;
    // }
    .tag-label {
      background: transparent;
      color: inherit;
    }
  }
  & > div.article-container:nth-of-type(even) {
    //> div:nth-of-type(2n)
    color: #fff; //rgb(255, 255, 255);
    background: #2d2d2a; //rgb(45, 45, 42);
    &:after,
    &:before {
      content: "";
      display: table;
      width: 120%;
      height: 20rem;
      left: -10%;
      background: #2d2d2a; //rgb(45, 45, 42);
      position: relative;
      z-index: 1;
    }
    &:before {
      top: -10rem;
      transform: rotate(5deg);
    }
    &:after {
      top: 10rem;
      transform: rotate(-5deg);
    }
    & > div.article-box {
      margin-top: -20rem;
    }
    a {
      margin-bottom: -19rem;
    }
    img {
      border: 10px solid #191919;
    }
  }
  & > div.article-container > div.article-box {
    max-width: 117rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    & > div {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      text-align: left;
      cite,
      small {
        margin: 0;
        display: block;
      }
      cite {
        max-width: 48.5rem;
        font: 400 4.8rem/1.1 "Patua One";
      }
      p {
        max-width: 48.5rem;
        margin: 3rem 0 2rem;
        line-height: 1.4;
      }
      i {
        margin: 0 1rem 0 3rem;
        &:first-child {
          margin-left: 0;
        }
      }
      a {
        color: inherit;
        &:hover {
          color: #00b16a;
        }
      }
      img {
        float: right;
        border-radius: 5px;
      }
    }
    .btn {
      background: #00b16a;
      color: #fff;
      display: block;
      width: 18rem;
      height: 5rem;
      clear: both;
      border-radius: 5px;
      margin-top: 8rem;
      margin-left: auto;
      margin-right: auto;
      font: 700 1.6rem/5.1rem "Cabin Condensed";
      text-align: center;
      &:hover {
        color: #fff;
        background: #f39c12;
      }
    }
  }
}


