// @import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails
@import "neat/app/assets/stylesheets/_neat-helpers";

// $visual-grid: true !global;
// $visual-grid-color: #FF4D72 !global;
// $visual-grid-opacity: 0.3 !global;
// $visual-grid-index: front !global;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $grid-columns: 4;
// $max-width: 1200px;
$max-width: 100%;


// Neat Breakpoints
$small-screen: em(480);
// $medium-screen: em(720);
$medium-screen: em(730);
$large-screen: em(1024);
$xlarge-screen: em(1200);

$small: new-breakpoint(min-width $small-screen 4);
$medium: new-breakpoint(min-width $medium-screen 6);
$large: new-breakpoint(min-width $large-screen 10);
$xlarge: new-breakpoint(min-width $xlarge-screen 12);


// Further Breakpoints
$desktop-up: min-width em(1600);
$desktop: min-width em(1120);
$medium-device: min-width em(1000);
$tablet: min-width em(730);
$mobile: min-width em(480);
$desktop-up-only: max-width em(1599);
$desktop-only: max-width em(1119);
$medium-only: max-width em(999);
$tablet-only: max-width em(729);
$mobile-only: max-width em(479);

