$light-gray: darken(#fff, 5%);
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

$base-line-height: 1.8;
$heading-line-height: 1.2;
$base-border-radius: 3px;
$base-spacing: $base-line-height * em(19);
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;

table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}
