body.projects.projects_index, body.fr.fr_projects.fr_projects_index {
  .container-gallery {
    ul {
      text-align: center;
      margin: 20px 0;
    }

    .filter {
      display: inline-block;
      // padding: 11px 70px;
      padding: 0.5rem 2rem; // 8px 16px
      background-color: #fff;
      color: #5BC0BE;
      box-shadow: 0 0 0 1px #5BC0BE, inset 0 0 0 0 #5BC0BE;
      font-weight: normal;
      cursor: pointer;
      font-family:'Open Sans';
      // transition: all .7s ease;
      transition: all .1s ease;
      @include media($mobile-only) {
        font-size: 0.6rem;
        padding: 0.25rem 0.5rem; // 4px 8px
      }
    }

    .filter:hover,
    .filter.active{
      box-shadow: 0 0 0 1px #5BC0BE, inset 0 60px 0 -15px #5BC0BE;
      color: #fff
    }
  }
}
