body.projects.projects_index, body.fr.fr_projects.fr_projects_index {
  .modal {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      // padding: 5px;
      margin: 10px auto;
    }
    h4 {
      @include media($mobile-only) {
        font-size: 0.4rem;
      }
    }
    &-container {
      width: 70%;
      margin: 0 auto;
    }
    &-banner {
      text-align: center;
      padding: 0vh;

      h2 {
        // padding-top: 3vh;
        // padding-bottom: 3vh;
        @include media($mobile-only) {
          font-size: 0.6rem;
          // padding: 1vh 1vh;
        }
      }
      .modal-title {
        // padding-left: 14vh;
        // padding-right: 14vh;
      }
    }
    &-description {
    }
  }
}


