<section class="contact" id="contact-me">
  <div class="contact-form">
    <form id="contact" action="//formspree.io/connect@nicolasdotto.com" method="POST">
      <h1><%= t(:get_in_touch) %></h1>
        <input type="text" name="name" placeholder="Your name">
        <input type="email" name="_replyto" placeholder="Your email">
        <input type="tel" name="telephone" placeholder="Your phone number">
        <textarea name="message" rows="5" placeholder="Your message"></textarea>
        <button type="submit" value="Send">Send</button>
        <input type="hidden" name="_subject" value="nicolasdotto.com Contact" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="/thankyou" />
    </form>
  </div>
</section>
