<section class="intro">
  <div class="box">
    <div class="brand">
      <div class="brand-logo">
        <% link_to 'http://www.nicolasdotto.com', :id => 'logo', :class => 'js-menu-trigger sliding-panel-button' do %>
            <%= image_tag 'logo.png' %>
        <% end %>
        <h1 id="name">Nicolas Dotto</h1>
      </div>
        <h2 id="tagline">London-based freelance web developer</h2>
        <a href="" class="big-link menu-button" id="js-fadeInElement">
          <img src="/images/menu-white.png" class="js-menu-trigger sliding-panel-button" alt="">
        </a>
    </div>
</section>
