<header class="header-animated">
  <a href="/" class="signature">Nicolas Dotto</a>

  <nav class="animated-icons-nav menu-links">
    <span class="links-show">
      <a href="/" data-caption="Home">
        <i class="icon-home3"></i>
      </a>
      <a href="/about-me" data-caption="About">
        <i class="icon-profile"></i>
      </a>
      <a href="https://github.com/nicodosw11" data-caption="Portfolio">
        <i class="icon-briefcase"></i>
      </a>
      <a href="https://github.com/nicodosw11" data-caption="Projects">
        <i class="icon-tree"></i>
      </a>
      <a href="/articles" data-caption="Blog">
        <i class="icon-rss"></i>
      </a>
      <a href="/contact" data-caption="Contact">
        <i class="icon-paper-plane"></i>
      </a>
      <a href="/search" data-caption="Search">
        <i class="icon-search"></i>
      </a>
      <a href="/fr" id="frflag">
        <img
          id=""
          src="/images/Frankreich.gif"
          alt=""
          class=""
        />
      </a>
    </span>
    &nbsp;
    <i class="icon-menu1 menu"></i>
  </nav>
</header>
