body.search.search_index, body.fr.fr_search.fr_search_index {

  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2O8dOnSfwYg0NPTYwTRuAAj0QqxmYBNM1briFaIzRbi3UiRZ75uNgUHGbfvabgfsHqGaIXYPAMAD8wgC/DOrZ4AAAAASUVORK5CYII=
    ) repeat;
  // height: 2000px;
  height: 150%;

  // .background-scroll-cover-mobile, .background-scroll-cover-medium, .background-scroll-cover-desktop {
  //   // background:
  //   //   url("/images/petronas19202500.jpeg"),
  //   //   repeat;
  //   // height: 2000px;
  //   background: linear-gradient(135deg, rgba(35, 150, 140, 0.8) 50%, rgba(111, 138, 50, 0.2) 100%), image-url("/images/petronas19202500.jpeg") repeat;
  //   background-size: 100% auto;
  //   position: fixed;
  //   width: 100%;
  //   height: 300%;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  // }

  // @media (max-width: 1400px) {
  //   .background-scroll-cover-mobile {
  //     background: linear-gradient(135deg, rgba(35, 150, 140, 0.8) 50%, rgba(111, 138, 50, 0.2) 100%), image-url("/images/petronas10801750.jpeg") center center/ cover no-repeat;
  //   }
  //   .background-scroll-cover-medium, .background-scroll-cover-desktop {
  //     display: none;
  //   }
  // }

  // @media (min-width: 1400px) and (max-width: 1700px) {

  //   .background-scroll-cover-mobile, .background-scroll-cover-desktop {
  //     display: none;
  //   }
  // }

  // @media (min-width: 1700px) {
  //   .background-scroll-cover-mobile, .background-scroll-cover-medium  {
  //     display: none;
  //   }
  // }
}


