body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; // 16px
  line-height: 1.7;
  color: $color-grey-dark
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem ; // 60px

  &--main {
    display: block;
    font-size: 6rem ; // 60px
    font-weight: 400;
    letter-spacing: 0.6rem ; // 6px

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  &--sub {
    display: block;
    font-size: 2rem ; // 20px
    font-weight: 700;
    letter-spacing: 1.5rem ; // 15px

    animation: moveInRight 1s ease-out;
  }
}
