<dialog id="modal-blog" class="animated">
  <!-- <i id="modal-close" class="fas fa-times"></i> -->
  <span id="modal-close">&times;</span>
  <div id="modal-blog-content" class="animated">
    <a class="bg-peas" href="/articles/">Coding</a>
    <a class="bg-zigzag" href="/financial/">FinTech</a>
    <a class="bg-constellation" href="/lifestyle/">Travel</a>
    <a class="bg-waves" href="/latest/">Latest</a>
  </div>
</dialog>
