<section id="manifesto">
  <h3>Manifesto</h3>
  <p>
    I made this blog for those curious about coding in Python, Machine Learning, Blockchain,
    those that don't have time for long tutorials or ridiculous bootcamps, 9-5 commuters with not a minute to spare,
    or anybody that wants to know more about technologies but feels stumped by a lack of time or structure,
    and keeps falling into bad habits.<br /><br />

    My blog is designed to educate, inspire, and advise whenever and wherever we are in the world with
    <strong>Python</strong>,
    <strong>Machine Learning</strong>, and
    <strong>Blockchain</strong> through articles aimed at specific financial, data-driven, and interesting topics.<br /><br />&#x1f4aa;<br /><br />
    ~<a href="//instagram.com/nikolashkaparabolka/" target="_blank">Nicolas Dotto</a>, developer
  </p>
  <nav class="social">
    <a class="tw" href="//twitter.com/nikolashkaparabolka/" target="_blank"><i class="icon-twitter"></i></a>
    <a class="fb" href="//facebook.com/nikolashkaparabolka/" target="_blank"><i class="icon-facebook"></i></a>
    <a
    class="git"
    href="#"
    target="_blank"
    rel="nofollow"
    ><i class="icon-github"></i>
    </a>
    <a class="lk" href="//uk.linkedin.com/in/nicolas-dotto-a6b2a0b2/" target="_blank"><i class="icon-linkedin"></i></a>
  </nav>
</section>
