<header id="header-parallax" class="index bg-peas">
  <div id="header-wrapper" class="index">
    <div id="header-body" class="index">
      <h1>Tech, Blockchain and code-related interesting articles</h1>
      <p>
        My Blog is coming soon for now you can read our blog for
        <strong>coding advice</strong>, <strong>coding recipes</strong> and
        <strong>coding tips</strong>
      </p>
      <i class="icon-circle-down"></i>
      <a class="btn cl-brand show-blog-modal">Blog categories</a>
      <img src="/images/caffeine-coffee-cup.png" alt="Coffee cup"/>
    </div>
  </div>
</header>
<svg id="curve" viewBox="0 0 1440 40" preserveAspectRatio="none">
  <defs>
    <path
      id="a"
      d="M0,0 L1440,0 L1440,40 L0,40 L0,0 Z M1440,0 L0,0 C240,26.6666667 480,40 720,40 C960,40 1200,26.6666667 1440,0 Z"
    />
  </defs>
  <g fill="none" fill-rule="evenodd"><use fill="#FFFFFF" xlink:href="#a" /></g>
</svg>

