<nav id="nav" class="scrolled">
  <a class="logo" rel="logo" href="/">
    <img
      src="/images/logo-white.png"
      alt="Nicolas Dotto logo"
    />
  </a>
  <a class="home" href="/">
    <i class="icon-home3"></i>
  </a>
  <a class="search" id="nav-search">
    <i class="icon-search"></i>
  </a>
  <a class="cart" id="nav-cart">
    <i class="icon-ruby"></i
    ><span>Cart<small id="cart-count">0</small></span
    >
  </a>
  <a
    class="slack"
    href="/about-me"
    target="_blank"
    rel="nofollow"
  >
    <i class="icon-profile"></i
    ><span>About me</span>
  </a>
  <a href="/articles" class="blog show-blog-modal">
    <i class="icon-rss"></i
    ><span>Blog</span>
  </a>
</nav>
