#footer__scatter__scatter section {
  padding: 30px;
  text-align: center;
  h3 {
    margin: -2px auto 24px;
  }
  p {
    margin: -2px auto 25px;
  }
}

// @media only screen and (min-width: 440px) {
@media only screen and (min-width: 27.5em) {
  #footer__scatter section {
    padding: 50px;
  }
}
// @media only screen and (min-width: 768px) {
@media only screen and (min-width: 48em) {
  #footer__scatter section {
    padding: 70px;
  }
}
// @media only screen and (min-width: 1024px) {
@media only screen and (min-width: 64em) {
  #footer__scatter section {
    padding: 100px;
  }
}
