/* &sections */
main#scatter section, #footer-manifesto section {
  padding: 3rem;
  text-align: center;
  h3 {
    margin: -2px auto 2.4rem;
  }
  p {
    margin: -2px auto 2.5rem;
  }
}

// @media only screen and (min-width: 440px) {
@media only screen and (min-width: 27.5em) {
  main#scatter section, #footer-manifesto section {
    padding: 5rem;
  }
}
// @media only screen and (min-width: 768px) {
@media only screen and (min-width: 48em) {
  main#scatter section, #footer-manifesto section {
    padding: 7rem;
  }
}
// @media only screen and (min-width: 1024px) {
@media only screen and (min-width: 64em) {
  main#scatter section, #footer-manifesto section {
    padding: 10rem;
  }
}
