<menu id="menu">
  <div class=menu-box>
    <%= nav_link "Recent", '/latest', active_if: %r{^/latest/} %>
    <%= nav_link "Code", '/articles', active_if: %r{^/articles/} %>
    <%= nav_link "Finance", '/financial', active_if: %r{^/financial/} %>
    <%= nav_link "Lifestyle", '/lifestyle', active_if: %r{^/lifestyle/} %>
  </div>
</menu>

