<menu id="menu">
  <div class=menu-box>
    <%= nav_link "Recent", '/en/2018/02/', active_if: %r{^/2018/02/} %>
    <%= nav_link "Code", '/articles', active_if: %r{^/articles} %>
    <%= nav_link "Finance", '/financial', active_if: %r{^/financial/} %>
    <%= nav_link "Career", '/en/tags/travel', active_if: %r{^/tags/travel/} %>
  </div>
</menu>

