<menu id="menu">
  <div class=menu-box>
    <%= nav_link "Recent", '/en/2018/02/', active_if: %r{^/2018/02/} %>
    <%= nav_link "MyBlog", '/articles', active_if: %r{^/blog-table} %>
    <%= nav_link "Ruby", '/en/tags/ruby', active_if: %r{^/tags/ruby/} %>
    <%= nav_link "Travel", '/en/tags/travel', active_if: %r{^/tags/travel/} %>
  </div>
</menu>
