<header id="header">
  <a href="/">Nicolas Dotto</a>
  <a href="//github.com/" target="_blank"><i class="icon-github"></i></a>
  <a href="//instagram.com/" target="_blank"><i class="icon-instagram"></i></a>
  <a href="//twitter.com/" target="_blank"><i class="icon-twitter"></i></a>
  <a href="//facebook.com/" target="_blank"><i class="icon-facebook"></i></a>
  <a href="//linkedin.com/" target="_blank"><i class="icon-linkedin"></i></a>
  <!-- <a href="#" class="hide-m">Subscribe</a>
  <a style="-webkit-filter:blur(2px)" class="hide-m">Sponsors</a><a href="http://nicolasdotto.website/projects" class="hide-m"
    target="_blank">Projects</a> -->
  <a href="/about-me" class="hide-t">About Me</a>
</header>
