<header id="header">
  <a href="/">My first multiblog</a>
  <a href="#" target="_blank"><i class="icon-python"></i></a>
  <a href="//instagram.com/" target="_blank"><i class="icon-python"></i></a>
  <a href="//twitter.com/" target="_blank"><i class="icon-python"></i></a>
  <a href="//pinterest.com/" target="_blank"><i class="icon-python"></i></a>
  <a href="//cbook.com/" target="_blank"><i class="icon-python"></i></a>
  <a href="#" class="hide-m">Subscribe</a>
  <a style="-webkit-filter:blur(2px)" class="hide-m">Sponsors</a><a href="http://nicolasdotto.website/projects" class="hide-m"
    target="_blank">Projects</a>
  <a href="/new" class="hide-t">About Me</a>
</header>
