<div class="chat">
  <ul class="chat__list">
    <%= partial "partials-search/chat-notification" %>
    <li class="chat__item chat__btn">
      <button class="btn-inline">Show all <span>&rarr;</span></button>
    </li>
  </ul>
</div>
