  <li class="chat__item">
    <img src="/images/avatar.jpg" alt="Chat photo 1" class="chat__photo" />
    <div class="chat__box">
      <div class="chat__info">
        <p class="chat__user-name">Nicolas Dotto</p>
        <p class="chat__timestamp">15:08, 15.10.2018</p>
      </div>
      <p class="chat__preview">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit...
      </p>
    </div>
  </li>

  <li class="chat__item">
    <img src="/images/avatar.jpg" alt="Chat photo 2" class="chat__photo" />
    <div class="chat__box">
      <div class="chat__info">
        <p class="chat__user-name">Nicolas Dotto</p>
        <p class="chat__timestamp">15:08, 15.10.2018</p>
      </div>
      <p class="chat__preview">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit...
      </p>
    </div>
  </li>

  <li class="chat__item">
    <img src="/images/avatar.jpg" alt="Chat photo 3" class="chat__photo" />
    <div class="chat__box">
      <div class="chat__info">
        <p class="chat__user-name">Nicolas Dotto</p>
        <p class="chat__timestamp">15:08, 15.10.2018</p>
      </div>
      <p class="chat__preview">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit...
      </p>
    </div>
  </li>
