<div class="settings">
  <ul class="settings__list">
    <li class="settings__item">
      <a href="#" class="settings__link">
        <svg class="settings__icon">
          <use xlink:href="/images/sprite.svg#icon-layers"></use>
        </svg>
        <span>My Portfolio</span>
      </a>
    </li>

    <li class="settings__item">
      <a href="#" class="settings__link">
        <svg class="settings__icon">
          <use xlink:href="/images/sprite.svg#icon-new-message"></use>
        </svg>
        <span>My Reviews</span>
      </a>
    </li>

    <li class="settings__item">
      <a href="#" class="settings__link">
        <svg class="settings__icon">
          <use xlink:href="/images/sprite.svg#icon-users"></use>
        </svg>
        <span>My Community</span>
      </a>
    </li>

    <li class="settings__item">
      <a href="#" class="settings__link">
        <svg class="settings__icon">
          <use xlink:href="/images/sprite.svg#icon-cog"></use>
        </svg>
        <span>Settings</span>
      </a>
    </li>
  </ul>
</div>
