<li class="suggestions__item">
  <img src="/images/parisquai-small.jpg" alt="picture article 1" class="suggestions__photo" />
  <div class="suggestions__item-box">
    <h3 class="suggestions__name">Quick Markdown Example</h3>
    <p class="suggestions__description">Example Markdown so I can see how my styles look</p>

    <div class="suggestions__stars">
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
    </div>
  </div>
  <div class="suggestions__rating">Code</div>
</li>

<li class="suggestions__item">
  <img src="/images/parisquai-small.jpg" alt="picture article 2" class="suggestions__photo" />
  <div class="suggestions__item-box">
    <h3 class="suggestions__name">Quick Markdown Example</h3>
    <p class="suggestions__description">Example Markdown so I can see how my styles look</p>

    <div class="suggestions__stars">
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
    </div>
  </div>
  <div class="suggestions__rating">Code</div>
</li>

<li class="suggestions__item">
  <img src="/images/parisquai-small.jpg" alt="picture article 3" class="suggestions__photo" />
  <div class="suggestions__item-box">
    <h3 class="suggestions__name">Quick Markdown Example</h3>
    <p class="suggestions__description">Example Markdown so I can see how my styles look</p>

    <div class="suggestions__stars">
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
      <svg class="suggestions__icon-star">
        <use xlink:href="/images/sprite.svg#icon-star"></use>
      </svg>
    </div>
  </div>
  <div class="suggestions__rating">Code</div>
</li>

