<header class="nav">
<% link_to 'http://www.nicolasdotto.com', :id => 'nav-logo' do %>
<%= image_tag 'logo.gif' %>
  <% end %>
  <ul>
  <li><a href="/blog">Blog</a></li>
  <li><a href="http://www.nicolasdotto.com#contact">Contact</a></li>
  </ul>
</header>
