<div class='item' data-category='<%= card.selector %>'>
 <%= image_tag card.image %>
</div>

<!-- <div class='item' data-category='<%= details.card.selector %>'>
 <%= image_tag details.card.image %>
</div>
 -->
