<div class="filter-button-group">
  <ul>
    <li class='filter' data-target='all'>All</li>
    <li class='filter' data-target='HTML5-CSS3-JavaScript'>HTML5 CSS3 JavaScript</li>
    <li class='filter' data-target='RubyOnRails'>RubyOnRails</li>
    <li class='filter' data-target='Python-Nodejs'>Python/Node.js</li>
    <li class='filter' data-target='Web-apps'>Web apps</li>
    <li class='filter' data-target='Mobile'>Mobile</li>
  </ul>
</div>
