<div id="flex-menu">
  <ul>
    <li><span class="filter" data-target='all'>All</span></li>
    <li><span class="filter" data-target='HTML5-CSS3-JavaScript'>JavaScript</span></li>
    <li><span class="filter" data-target='RubyOnRails'>RubyOnRails</span></li>
    <li><span class="filter" data-target='Python-Nodejs'>Python</span></li>
    <li><span class="filter" data-target='Web-apps'>Web</span></li>
  </ul>
</div>
<!-- <div id="flex-menu">
  <ul>
    <li><a href="#" data-target='all'>All</a></li>
    <li><a href="#" data-target='HTML5-CSS3-JavaScript'>HTML5 CSS3 JavaScript</a></li>
    <li><a href="#" data-target='RubyOnRails'>RubyOnRails</a></li>
    <li><a href="#" data-target='Python-Nodejs'>Python/Node.js</a></li>
    <li><a href="#" data-target='Web-apps'>Web apps</a></li>
  </ul>
</div> -->
<!-- <div id="flex-menu">
  <ul>
    <li><a href="#" title="All">All</a></li>
    <li><a href="#" title="Front-end">HTML5 CSS3 JavaScript</a></li>
    <li><a href="#" title="Back-end">RubyOnRails</a></li>
    <li><a href="#" title="Languages">Python/Node.js</a></li>
    <li><a href="#" title="Web">Web apps</a></li>
  </ul>
</div> -->
