<div class="modal closed" id="modal">
  <button class="close-button" id="close-button">Obvious Close Button</button>
  <div class="modal-guts">
    <!-- <h1>Modal Example</h1> -->
    <div id='title-id'></div>
    <div id='image-id'></div>
    <div id='description-title-left-id-1'></div>
    <div id='description-text-left-id-1'></div>
    <div id='description-title-left-id-2'></div>
    <div id='description-text-left-id-2'></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae expedita corrupti laudantium aperiam, doloremque explicabo ipsum earum dicta saepe delectus totam vitae ipsam doloribus et obcaecati facilis eius assumenda, cumque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae expedita corrupti laudantium aperiam, doloremque explicabo ipsum earum dicta saepe delectus totam vitae ipsam doloribus et obcaecati facilis eius assumenda, cumque.</p>
  </div>
</div>
