.photoAndMessage {
  position: relative;
}

#backgroundImage, .backgroundImage {
  // position: fixed;
  // top: 0;
  background-image: url(../images/paris-medium.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  // keeps the background image in place so long as the element is tall enough for scrolling.
  background-attachment: fixed; // fixed in the viewport
  overflow: hidden;
  //

  width: 100%;
  height: 100vh;
  z-index: -1;
  @media only screen and (min-height: 30em) {
    @include media($medium) {
      position: fixed;
      right: 0;
      top: 0;
      width: 50%;
      height: 100vh;
      z-index: -1;
    }
  }
}

#introductions {
  background-color: rgba(256, 256, 256, .75);
  // position: absolute;
  // top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  @include clearfix;
  @include pad(0 default);
  padding-top: modular-scale(1);
  padding-bottom: modular-scale(1);
  clear: both;
  @media only screen and (min-height: 40em) {
    height: 100vh;
  }
  @media only screen and (min-height: 30em) {
    @include media($medium) {
      position: static;
      height: auto;
      margin: 20vh auto 50vh;
      @include span-columns(3 of 6);
      // @include shift(1);
      @include pad(0 default);
    }
  }
  @include media($large) {
    @include span-columns(5 of 10);
    // @include shift(1);
    @include pad(0 default);
  }
  @include media($xlarge) {
    @include span-columns(4 of 12);
    @include shift(1);
    @include pad(0);
  }
}


